[2018-01-09 20:52] joeduffy opened #1 "Prototype a Kubernetes resource provider"

[2018-01-31 18:50] #1 closed, assigned to subhabh

[2018-02-06 05:45] lukehoban opened #4 "Guestbook example"
Add an implementation of the [Guestbook example](https://github.com/kubernetes/examples/tree/master/guestbook/) to this repo.

[2018-02-07 05:12] lukehoban opened #5 "Update to new Input/Output model"
Adopt the changes in `pulumi{-terraform}` to move from `Computed` to `Input`/`Output`.

[2018-02-07 17:47] ericrudder opened #6 "Create an OpenFaaS provider"

[2018-02-08 23:45] #5 closed, assigned to CyrusNajmabadi

[2018-02-13 17:30] lukehoban opened #10 "Apply auto-naming to `resource.metadata.name`"
The "name" property in Kubernetes resources is `res.metadata.name`, not `res.name` as is common in other providers.  We should consider applying our AutoNaming to this nested property.

[2018-02-13 20:59] lukehoban opened #12 "Generated argument types are unusably large"
The types we generate for arguments and properties on Kubernetes resources are *VERY* large.

This leads to:
1. It's very hard to actually create these property bags - as they have so much complicated internal structure without independent named types which can be created (and shared) independently.
2. At least in VSCode, this brings the IDE to it's knees, and completion lists, error checking, etc

[2018-02-20 02:49] #4 closed, assigned to lukehoban

[2018-02-20 02:51] lukehoban opened #13 "Add variant of guestbook example showing off resusable abstractions"
We should adda variant of the Guestbook example that is closer to the [ksonnet version](https://github.com/ksonnet/ksonnet/blob/master/examples/example.libsonnet), but likely going even further on creating reusable abstractions.

This is more or less blocked on https://github.com/pulumi/pulumi-kubernetes/issues/12 so that we can have named types to use for composing these helper functions (assumin

[2018-04-03 01:21] joeduffy opened #18 "Port the Heptio AWS QuickStart to Pulumi"
It would be interesting to port the Heptio AWS QuickStart to Pulumi.  Taking a glance, it looks pretty straightforward, and much like most of our other CloudFormation porting exercises:

* QuickStart: https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/
* Deploying Into a New VPC Template: https://s3.amazonaws.com/quickstart-reference/heptio/latest/templates/kubernetes-cluster-with-ne

[2018-04-11 05:34] lukehoban opened #22 "Minikube no longer working in Travis"
Our setup of minikube in Travis appears to have started failing in the last few hours.  It's been fine (and unchanged) through midday today, but has started failing consistently:

[code]

[2018-04-11 06:02] #22 closed, assigned to lukehoban

[2018-04-11 19:35] lukehoban opened #23 "Include repository info in NPM package"
We are not publishing repo details to https://www.npmjs.com/package/@pulumi/kubernetes?activeTab=versions.

[2018-04-11 19:37] lukehoban opened #24 "Document support version(s)"
This repo, and the NPM package, must make clear what Kubernetes versions they support.

[2018-04-11 19:39] lukehoban opened #25 "Versioning strategy"
Currently, each release of this package supports a single fixed version of Kubernetes.  Given the rate of (breaking) change in Kubernetes between versions, this is likely not practically something that can be used in a broad range of environments.

We will need some strategy for supporting multiple versions of Kubernetes - either concurrently in a single package - or as multiple packages.

[2018-04-14 05:33] lukehoban opened #27 "Missing features and issues with current projection API surface area"
We've hit many cases where we are not projecting capabilities of Kubernetes that users are interested in.  We expect we are going to need to change our approach to generating this package to generate directly from the swagger specifications.

Missing features that we've been asked about:
1. Pod `affinity`/`anitaffinity`

[2018-04-14 06:00] #23 closed, assigned to lukehoban

[2018-04-14 20:13] joeduffy opened #29 "Provide a way to export Kubernetes YAML"
Being able to export Kubernetes YAML will be important, especially for certain classes of users who may already have existing tools and practices for deployments.  The challenge we have, and have always had due to the fact that evaluations can depend on output properties (the same reason we can't produce plans ahead of time), but there are still things we can do to make this better.  For instance:

[2018-04-14 21:59] lukehoban opened #30 "ReplicaSets are orphaned"
I've noticed that when I bring up and tear down a program using `kubernetes.Deployment`, the `Deployment` itself is removed, but the `ReplicaSet` that was created by the `Deployment` gets orphaned in the cluster.

Not sure whether this is a Kubernetes issue, a `terraform-provider-kubernetes` issue, or something we should be trying to explicitly compensate for in our layer.

[2018-04-15 09:09] colemickens opened #31 "Ingress is named "Ingres" in the API"
Maybe a result of de-pluralizing?

[2018-04-15 09:10] colemickens opened #32 "Endpoints aren't surfaced in the API"
I run kubernetes locally and expose internal services by using selector-less `Services` with manually configured `Endpoints`, however, I don't see it in the api.

[2018-04-17 02:16] joeduffy opened #33 "Orphaned ReplicaSets"
It appears that creating a new `Deployment` -- and/or deleting an old one -- doesn't properly clean up old `ReplicaSets`.  As a result, subsequent deployments hang and eventually fail with:

[code]

Sure enough, the `ReplicaSets` are still hanging around:

[code]

See https://pastebin.com/wgtU1HQ6 for more detailed relevant logs.

[2018-04-17 02:26] #33 closed, assigned to nobody

[2018-04-18 20:47] joeduffy opened #34 "Port Helm charts to Pulumi"
To demonstrate what real world Kubernetes code looks like in Pulumi, we should consider porting the most popular [Helm Charts](https://github.com/kubernetes/charts) to Pulumi.  The [curated set of Bitnami Charts](https://github.com/bitnami/charts) are probably an even better place to start.

We probably want these to land in pulumi/examples, but I'm filing this here since doing so probably depends

[2018-04-22 19:38] lukehoban opened #35 "Explore a direct projection of Kubernetes API to Pulumi"
Many of the issues we've seen with `@pulumi/kubernetes` are related to the indirection from Kubernetes->Terraform->Pulumi.  We should look at whether we can project the Kubernetes API more directly to Pulumi.  This has several possible advantages:
1. Provide exactly the same API as Kubernetes (no fear of accidental renaming)
2. Dynamically infer the schema from the target cluster, so that we do no

[2018-05-05 20:16] hausdorff opened #38 "Allow strategic merge for `Update` of known types"
`kubectl` defaults to using the so-called ["strategic merge"][stratmerge], only falling back on the JSON merge when it has to. We currently (like Terraform) only implement JSON merge. This makes us largely incompatible with things like admission controllers.

This is for a variety of reasons, chiefly:

* The API server automatically populates some fields with default values (_e.g._, `NodePort`), s

[2018-05-05 20:17] hausdorff opened #39 "Autogenerate python client"
Currently we only automatically generate the TypeScript client.

[2018-05-05 20:33] hausdorff opened #40 "Add stable examples"
It should be possible to "adopt" stable and popular helm charts and add them to `examples/`. The added benefits of this are that this would make fine integration tests. Following are some ideas (we should pick the ones we want to do). Also, do note that many helm charts have fairly serious security issues, so we will need to curate them from reliable sources (_e.g._, Bitnami's versions of the char

[2018-05-05 20:36] hausdorff opened #41 "Consider how to propagate flags to the Kubernetes provider"
`kubectl` provides a lot of options that we may eventually want to support. For example, a user can specify that they _only_ want to `apply` with JSON-merge-patch.

In Pulumi, the Kubernetes provider is largely opaque, not exposing most of these knobs. We already do support reconciling env variables with, _e.g._, `$KUBECONFIG`, but it's worth thinking about what the future is here.

[2018-05-05 20:39] hausdorff opened #42 "Support serializing a plan to YAML"
The most common pattern for deployment in Kubernetes is to serialize an entire deployment plan yo YAML so that it can be audited during CR (_i.e._, it's easier to write TypeScript, but easier to read YAML), and then picked up and deployed by CI.

For fairly complex examples, I think this would actually demo pretty well: one of the advantages of a "planning" phase is that it becomes pretty clear wh

[2018-05-05 20:47] hausdorff opened #43 "Expand support to all Kubernetes objects"
Currently we support a very small subset of the possible API objects in the Kubernetes API. We should support all of them.

[2018-05-06 02:11] hausdorff opened #44 "Simplify polling logic"
We bootstrapped our polling logic by using substantial parts of the Terraform polling libraries. But what we need is quite a bit simpler than what they provide. We should replace these routines with our own, simplified routines.

[2018-05-06 16:45] #13 closed, assigned to hausdorff

[2018-05-08 02:49] hausdorff opened #46 "Consider allowing more options for deciding if deployment is ready"
Some ideas are:

* Minimum replicas available
* Updated replicas available

[2018-05-08 09:05] #44 closed, assigned to nobody

[2018-05-10 06:09] #35 closed, assigned to hausdorff

[2018-05-10 06:09] #12 closed, assigned to nobody

[2018-05-10 06:11] #24 closed, assigned to nobody

[2018-05-10 06:12] #27 closed, assigned to nobody

[2018-05-10 06:13] #31 closed, assigned to nobody

[2018-05-10 06:13] #32 closed, assigned to nobody

[2018-05-11 20:03] lukehoban opened #48 "Resource type names should use three parts"
The Pulumi resource type name is assumed to have three parts ("provider", "module", "name") by a few parts of the system.

We should align Kubernetes provider type names with these requirements so that they are presented and handled correctly in other systems.

That is, instead of `kubernetes:extensions:v1beta1:DaemonSet`, we should generate `kubernetes:extensions/v1beta1:DaemonSet`.

[2018-05-16 16:10] lukehoban opened #49 "Service creation completes before LoadBalancer is provisioned (and external IP is available)"
When I deploy `examples/guestbook`, the deployment completes nearly instantly - but pods are not yet deployed for at least one of my `Deployments`.

Expectation is that Deployment is in a "complete" state when the `pulumi update` completes successfully.  Ideally, the same condition that GKE uses to show "OK" below:

<img width="519" alt="screen shot 2018-05-16 at 9 09 53 am" src="https://user-imag

[2018-05-16 16:18] lukehoban opened #50 "`pulumi destroy` fails even after successfully deleting resource"
After standing up `examples/guestbook` - if I `pulumi destroy` - I see the following:

[code]

The delete hangs for quite awhile, even for some time after `kubectl` reports there is no `deployment/redis-slave`.  The actual kubernetes resource destroy completes, but somehow triggers an error in the provider.

[2018-05-16 16:46] lukehoban opened #51 "Updates don't get applied?"
If I deploy `examples/guestbook` as is, and then uncomment the line:

[code]

I see Pulumi correctly identify that the Service requires an update:

[code]

However, I see no change at all take place in my actual Service resource:

[code]

Destroying and then deploying from scratch does lead to the expected correct result.

[2018-05-16 23:17] #51 closed, assigned to hausdorff

[2018-05-16 23:18] #50 closed, assigned to hausdorff

[2018-05-16 23:20] hausdorff opened #52 "Enable mariadb in example_tests.go"
Minikube has an [open issue](https://github.com/kubernetes/kubernetes/issues/61076) relating to how subPaths are created and embedded as volumes in containers. This causes the mariadb tests to fail. We should move to a version of minikube that doesn't have this problem, or find a work-around, so that we can run the mariadb tests.

[2018-05-17 22:15] joeduffy opened #54 "Introduce Helm migration story"
We know that there are many benefits from being able to convert Kubernetes YAML, and Helm Charts, to Pulumi, especially to leverage all the benefits of a language.  However, it would also be possibly nice to be able to leverage the existing ecosystem of charts.  For example:

[code]

These would clearly need to be weakly typed, although one could also imagine a world where we use code-gen to creat

[2018-05-24 21:50] hausdorff opened #56 "Implement `kubeProvider#Read`"
This blocks `refresh`, which is critically important to release.

[2018-05-24 21:53] hausdorff opened #57 "Upgrade to client-go 7"
This has a bunch of features we need, like support for generating strategic merge patches without nominal types.

[2018-05-24 21:54] hausdorff opened #58 "Use strategic merge by default"
For reasons we've [explained elsewhere](https://github.com/pulumi/pulumi-kubernetes/blob/4bc28b5da424ef70ea31b0f615bbd83c2d50816b/pkg/provider/provider.go#L352-L390), Kubernetes depends on a notion of a three-way merge to update resources. Currently we support only the JSON patch three-way merge, but the default supported by kubectl is the "strategic" 3-way merge. We'll want to ship this before re

[2018-05-24 21:55] hausdorff opened #59 "Add Python support"
The steps to this are:

- [ ] Emit Python 2.7 to start and unblock the ecosystem.
- [ ] Transition this to emit Python 3 once @swgillespie gets to a point where we can use the (new, upcoming) Python 3 language provider.

[2018-05-26 20:30] #39 closed, assigned to nobody

[2018-05-27 06:21] #48 closed, assigned to hausdorff

[2018-05-29 19:44] #56 closed, assigned to hausdorff

[2018-05-30 21:54] #57 closed, assigned to hausdorff

[2018-05-30 21:54] #58 closed, assigned to hausdorff

[2018-05-31 17:40] swgillespie opened #64 "Kubernetes v0.13.0 release has mis-tagged resource provider"
In our release S3 bucket it looks like our Kubernetes resource provider has a `-dirty` suffix:

<img width="685" alt="screen shot 2018-05-31 at 10 39 42 am" src="https://user-images.githubusercontent.com/1871912/40798057-faa957c4-64be-11e8-9d91-dd671f6cef0c.png">

This causes a 404 when trying to install the `v0.13.0` resource plugin:

[code]

[2018-05-31 21:53] swgillespie opened #65 "Input types should use `pulumi.Input` where possible"
Input types not accepting `pulumi.Input` makes it difficult to compose resources and prevents the engine from being able to track resource dependencies. It would be great to use `pulumi.Input` when auto-generating code whenever possible.

[2018-06-06 01:11] #64 closed, assigned to ellismg

[2018-06-07 01:03] hausdorff opened #68 "`pulumi update` does not wait for pod restarts"
If you change (_e.g._) the environment variables of a container in some pod, it should trigger a hard reset of that pod. Unfortunately, `pulumi update` will usually not wait for the pod to restart, instead simply reporting immediately that the resource was created.

[2018-06-10 20:25] joeduffy opened #70 "Implement Go provider"
We will add Go support to the Kubernetes provider.  This includes the following work:
- [x] Core Kubernetes API resources (https://github.com/pulumi/pulumi-kubernetes/pull/1029)
- [x] Helm/YAML support (https://github.com/pulumi/pulumi-kubernetes/issues/1037)
- [x] apiextensions.CustomResource (https://github.com/pulumi/pulumi-kubernetes/pull/1125)

[2018-06-15 20:28] #49 closed, assigned to hausdorff

[2018-06-20 00:58] hausdorff commented on #54
x-ref to https://github.com/pulumi/pulumi/issues/1544 We want to be able to trivially install any Helm chart to a cluster _without_ Tiller.

[2018-06-20 07:17] offlinehacker opened #78 "Layer of abstraction for k8s resources"
I don't know where to put this, as it touches the general architecture of pulumi, but it now mostly affects kubernetes. The thing is, from perspective of developer, they should not think how to deploy some complex redis cluster on k8s, their only requirement would be to have a redis with clustering. What would be really useful(and make pulumi totally dope) is to have a layer of abstraction, that w

[2018-06-20 18:18] joeduffy commented on #78
Definitely something we aspire to enable!

The cloud framework has a `cloud.Service` type whose purpose is exactly this.  It doesn't support Kubernetes yet (that's tracked by https://github.com/pulumi/pulumi-cloud/issues/227), but we would welcome help if you're interested.  Our thinking is to leverage minikube to run locally.

We'll have a better idea of our roadmap in the next couple weeks, incl

[2018-06-20 19:43] hausdorff commented on #78
Strong thumbs up. I don't work at Pulumi, but I wrote the k8s provider, and I have a strong interest in raising the level of abstraction.

[2018-06-20 19:44] hausdorff commented on #78
(I should say for the first cut we purposefully made it kind of boring, as we were not yet prepared to commit the core libraries to higher-level abstractions, yet.)

[2018-06-28 05:57] colemickens opened #79 "Secrets being deployed after Deployments"
I have a fairly straightforward module I'm trying to write for Dex.

It's currently waiting on the Deployment to succeed before proceeding, but the Deployment depends on the Secret.

I don't see an explicit way to link them, going off of the MariaDB example... https://github.com/pulumi/pulumi-kubernetes/blob/master/examples/mariadb/index.ts It seems even in this example, that it's a loose associat

[2018-06-28 06:06] colemickens commented on #79
(Note, I don't really mind if the Secret gets created first or second, but the Deployment is just waiting on something that will never succeed, as-is)

[2018-06-28 06:10] colemickens commented on #79
Looks related to #65. @hausdorff, you call out that "declaring dependencies between kube objects is kind of annoying" but the only example you given is the one that doesn't work since the change was backed off.

Is there a workaround in the meantime?

[2018-06-28 06:18] hausdorff commented on #79
The easiest thing to do right now looks something like:

[code]

Eventually we will allow for direct references. For simplicity, you can imagine a fake `KubeObject` kind like this:

[code]

Pulumi will then "magically" figure out the dependency.

The reason this isn't done now is because the k8s API is super dense, and we wanted to be deliberate about making sure it was awesome.

[2018-06-28 06:28] colemickens commented on #79
Aha! Thank you!

I was just now trying:

[code]

but was getting: `Type 'Output<string>' is not assignable to type 'string'.` Sounds like it's in-progress / under consideration.

I'll try your suggested workaround for now, doesn't seem that bad to me anyway.

[2018-06-28 06:43] colemickens commented on #79
I added `{ dependsOn: [dexSecret]}`, but it doesn't do what I expect, the Deployment is still going first.

Source: https://gist.github.com/colemickens/7127d334cb105f2062850a58e67166dd#file-index-ts-L70

[2018-06-28 06:55] colemickens commented on #79
Actually, no, it worked as described. (But Pulumi thought the Deployment existed when I'd deleted it out from under it. I probably need to adjust how I work and cleanup... I'm accustomed to always blowing everything away and redeploying at once, rather than incrementally in the face of errors)

[2018-06-28 07:11] hausdorff commented on #79
Yeah, do also note that incremental updates are not great right now for the Kubernetes provider. (_cf_., [my comment on #992](https://github.com/pulumi/pulumi/issues/992#issuecomment-399611875)). Basically, Pulumi does not have a notion of a resource that was successfully _created_ but which failed to _initialize_. The good news is that I do have an almost-ready patch to mostly-fix this, though --

[2018-06-28 07:12] hausdorff commented on #79
Since I think the issue is mostly a duplicate of #65, I'll close this for now. Feel free to re-open if you think this is wrong.

[2018-06-28 07:12] #79 closed

[2018-06-28 07:56] colemickens opened #80 "Plan apply failed: Could not find object of type 'v1/ServiceAccount'"
I'm currently have a Plan failing...

[code]

It fails with:

[code]

Despite the fact that it's creating my ServiceAccount:

[code]

[2018-06-28 15:08] hausdorff commented on #80
Yeah, what's happening is that the underlying dynamic client knows how to submit pretty much any kube API object, but the logic that waits for it to be initialized doesn't know what to wait on, yet. I can probably fix this for SAs today.

[2018-06-28 21:54] colemickens commented on #80
I wouldn't mind having a no-wait-for-init mode. FWIW, for me to get this particular "chart" (?) working, I need `Role` & `RoleBinding` as well.

[2018-06-29 19:02] lukehoban opened #81 "Storage class rename failure"
Changing storage class should force replace.  Currently it errors.

[code]

[2018-06-29 21:38] protometa opened #82 "apiextensions apiVersion incorrect"
When initializing a CustomResourceDefinition I get:

    error: Unable to fetch schema: Cluster does not support resource type 'apiextensions/v1beta1, Kind=CustomResourceDefinition'

Should the name here be `apiextensions.k8s.io/v1beta1` instead?

https://github.com/pulumi/pulumi-kubernetes/blob/2f1d4637c9b1c52cac6f8d25284e86f8cdc0cdb3/pack/nodejs/provider.ts#L362

[2018-06-30 03:29] protometa opened #83 "Ingress await error"
When initializing an Ingress with `k8s.extensions.v1beta1.Ingress('dev-ingress', {...}` I get:

    Diagnostics:
      kubernetes:extensions:Ingress: dev-ingress
        error: Plan apply failed: Could not find object of type 'extensions/v1beta1/Ingress'

[2018-07-01 00:15] protometa commented on #82
It seems the swagger schema definition names are not a reliable source for these api group names.

[2018-07-02 23:18] hausdorff commented on #82
Thanks for the report @protometa, you're exactly right, I'll have a fix in a PR later today.

In case someone else stumbles on the issue: the core problem is that the OpenAPI spec needs to be munged a bit to get an `apiVersion` that the API server understands. Some examples of exceptions are: `core/v1` -> `v1`, `rbac/v1` -> `rbac.authorization.k8s.io/v1`, and so on.

Sometimes this will manifest d

[2018-07-02 23:58] hausdorff commented on #80
@colemickens Take a look at the referenced PR, it should resolve all the issues described here, including adding await logic for `Role` and `RoleBinding` (plus `ClusterRole`, `ClusterRolebinding`, _etc_.).

[2018-07-03 02:09] hausdorff commented on #83
Thanks for the report, will fix today.

[2018-07-03 02:20] hausdorff commented on #83
@protometa I've put a fix into PR #85.

[2018-07-03 18:02] #82 closed

[2018-07-03 18:02] #80 closed

[2018-07-03 18:02] #83 closed

[2018-07-03 18:06] hausdorff opened #87 "Find sensible default await conditions for API objects"
Right now if we don't recognize an object, we error out. In the Pulumi service logs, missing object awaiters account for a sizable number of deploy failures, _and_ when they do fail, they orphan the object, which was often successfully created.

We should handle this more gracefully, especially since we'll need to be able to use that solution for CRDs. Some options:

1. Simply refuse to create an

[2018-07-03 18:06] hausdorff commented on #87
@lukehoban @joeduffy thoughts?

[2018-07-03 18:07] hausdorff commented on #87
Also likely want to:

- [ ] re-organize the 3 switch statements that exhaustively list API types and what to do in response.

[2018-07-03 18:37] lukehoban commented on #87
I don't think I follow this.  Missing wait logic should only lead to the Pulumi not waiting for the resource to be fully stable before continuing.  The resource should still get written to the checkpoint, and updated if future changes are made.

[2018-07-03 20:34] hausdorff commented on #87
We currently error out if we don't recognize the object type. This isn't what we want to do, it's just what we do now.

[2018-07-04 01:07] hausdorff commented on #38
Resolved in #63.

[2018-07-04 01:07] #38 closed

[2018-07-04 02:06] protometa commented on #10
Kubernetes provides a natural solution to this in the form of namespaces. There is some discussion in kubernetes/helm#2060 about the pros and cons of leveraging namespaces more directly as opposed to the the current Helm convention of prefixing names. I can see using the pulumi stack name as resource namespace as a nice default to avoid conflicts, though any default should be easy enough to overri

[2018-07-05 22:32] hausdorff commented on #10
I believe the right way to go is to let Pulumi handle the naming itself, and to let users encode which namespace they're deploying to inside the app code or using Kubernetes contexts (which would get picked up during `pulumi update`). But, I also believe this problem is not nearly as big a deal for the Kubernetes provider as it is for (say) the AWS provider, which is why I estimate its priority to

[2018-07-06 00:01] hausdorff opened #89 "ctrl-c should usually cause an init failure"
Currently if there is a looping initialization failure (_e.g._, application is continuously crashing and never becomes live) and the user presses ctrl-c Pulumi will:

* Tell the user that it's "cancelling" but then wait until the initialization timeout, which is often 5-10 minutes.
* Tell the user they can press ctrl-c again to cancel immediately, but it might "orphan resources". This usually leav

[2018-07-06 00:17] joeduffy commented on #89
There ought to be a work item in pulumi/pulumi for supporting true cancellation in the engine, including flowing it to plugins so that they are given the opportunity to participate.  That will be required to achieve this.  @swgillespie, @pgavlin, is there a work item already tracking this?  If not, let's file one.

[2018-07-06 00:22] hausdorff commented on #89
Sweet, thanks. @joeduffy I think this is a really strong candidate for fixing in M16, because it seems to me that kube support will be not awesome until it's fixed. What do you think?

[2018-07-06 00:32] hausdorff commented on #89
Hmm, the relevant pulumi/pulumi issues seem to be https://github.com/pulumi/pulumi/issues/1077 and https://github.com/pulumi/pulumi-service/issues/1405, but neither seems to handle this specific scenario. Correct me if I'm wrong?

[2018-07-06 02:16] hausdorff commented on #10
Oh, also, this will make testing a bit easier. If we generate the names on the user's behalf, it means that by default we don't have to worry about subsequent/parallel runs trampling over or interfering with each other.

From that perspective, when you think about running a CI/CD system for an entire organization, it is clearer to me that this is actually really useful.

[2018-07-06 18:24] hausdorff opened #90 "Add end-to-end tests"
There are several components we want to nail down for M16:

- [ ] Historically we have used minikube to run CI/CD tests, but there are a host of problems with this, like the fact that we can't create PVC, `LoadBalancer` type services, and so on. For more complicated `examples/`, it would be nice to be able to run tests on a "real" cluster.
- [ ] We want to test all of: success conditions, failure

[2018-07-07 21:53] hausdorff opened #91 "Add "Kubernetes, the Pulumi way" landing page and supporting docs"
This page should clearly explain the Pulumi value proposition as it relates directly to Kubernetes, as well as how to get started. The messaging should be targeted to appeal directly to the audience running Kubernetes.

cc @joeduffy @lukehoban @mehzer

[2018-07-09 17:17] swgillespie commented on #89
No, I think you're right @hausdorff - I can't think of any issues off the top of my head that give the provider a chance to do something when cancellation is requested.

Does the kube provider keep track of which kubernetes API requests are in flight? I'm wondering if we could do something like create IDs for each provider operation and have providers (optionally) expose a `Cancel` RPC call that t

[2018-07-09 22:22] hausdorff opened #93 "Implement status-rich incremental updates for complex objects"
Specifically for the following API objects:

- [x] `Service`
- [x] `Deployment`
- [x] `StatefulSet`
- [ ] `Job`
- [x] `Ingress`
- [x] `Pod`
- ~`Persistent Volume`~
- ~`Persistent Volume Claim`~

[2018-07-09 23:31] hausdorff commented on #89
Per offline discussion with @pgavlin and @swgillespie we have decided the following:

- We should add a `Cancel` function to the gRPC interface, the semantics of which are to signal (using Go's contexts) to all open requests that they should cancel. [_cf_., https://github.com/pulumi/pulumi/issues/1613]
- A single ctrl-c press should do what it does now, and additionally call `Cancel` on the resour

[2018-07-10 00:18] #65 closed

[2018-07-17 06:33] joeduffy commented on #54
I very much prefer the first to start because it's easy and far less disruptive to try it out. It's also a nice "better together" story.

I agree the second is useful but I think of it as a follow on activity that probably doesn't need to happen as part of the initial "moment".

[2018-07-18 14:14] lukehoban opened #95 "Support build/push of docker builds from local folders"
In the `cloud.Service` package, we have the ability to specify `build:` instead of `image:`, resulting in a `docker build` and `docker push` to a private registry that is used for the service.

We should support the same for Kubernetes.

A key question is what registry to push to - and this likely needs to be pluggable. (local for local minikube/docker-for-desktop, cloud-hosted for GKE/AKS/EKS, po

[2018-07-18 19:55] #89 closed

[2018-07-20 20:34] hausdorff opened #96 "`Read` should return an error if the resource is in an invalid state"
In the scenario where there is an initialization error (_i.e._, the object was successfully created but failed to fully initialize), `pulumi refresh` will update the state, always reporting success if `Read` can access the object. This means in particular where the initialization errors would normally generate a warning in (_e.g._) the Pulumi console and CLI, we would here end up _erasing_ these i

[2018-07-21 00:13] lukehoban opened #97 "Improve error message when Kubernetes master is not available"
When the chosen Kubernetes context is not available - the error message is not great:

[code]

[2018-07-21 00:17] lukehoban opened #98 "Key/value maps should be projected as `{ [key: string]: string};` not `object`"
We project these as `object` which allows arrays and other illegal values to be passed with no error reporting.

[2018-07-21 00:21] hausdorff opened #99 "Update logic for service is incorrect"
* Changing type `"LoadBalancer"` -> `"ClusterIP"` should trigger a replace, not an update.
* `update`'ing should wait for the service IP to be allocated, but it returns instantly

[2018-07-21 00:54] pgavlin opened #100 "configuration should happen in `Configure`"
Currently configuration happens in `makeKubeProvider`; it should instead happen in `Configure`.

[2018-07-21 00:55] pgavlin opened #101 "`Configure` should accept a `kubeconfig` spec as JSON"
e.g. I should be able to JSON-serialize a `kubeconfig` value and supply it as the value for `kubernetes:config:kubernetes`.

[2018-07-21 00:56] pgavlin commented on #101
This depends on #100.

[2018-07-22 01:35] hausdorff commented on #101
@pgavlin Somewhat relatedly, I think we should also consider making the literal `$KUBECONFIG` file an "input" (in some loose sense) to the Pulumi application. That is to say, if the user changes the active context to point at a new cluster (_e.g._, with something like `kubectl config use-context some-new-cluster`), then we'll want to report something different -- that none of the resources are ava

[2018-07-22 22:15] pgavlin commented on #101
Here's a prototype approach to the original issue: https://github.com/pulumi/pulumi-kubernetes/compare/pgavlin/kubeconfig

[2018-07-23 17:32] hausdorff commented on #10
Fundamentally this issue involves (1) implementing autonaming, and (2) implementing correct delete-before-replace semantics.

Implementing autonaming itself amounts to appending a random suffix to an object's name -- the questions are: (1) when should we do this, (2) how, if at all, should users be allowed to manually specify a name, and (3) are there exceptions to the autonaming mechanism? To thi

[2018-07-23 17:33] hausdorff commented on #10
Also cc @lukehoban @joeduffy  ^^

[2018-07-23 18:41] hausdorff commented on #10
Actually, thinking about this more, I think we agree that `core/v1/Namespace` should _not_ be an exception. There are two scenarios: (1) a user wants the namespace to have a specific name, and (2) a user wants a unique namespace to be generated, and for an app to be deployed to that.

Regarding @protometa's points, I think this also closes out the question of whether apps should be named uniquely,

[2018-07-23 18:43] lukehoban commented on #10
This proposal sounds good to me.

This is effectively the same as what we do in the terrraform-based providers.  `name` is made optional, and defaults to "pulumi name + randomness" if not specified.  This allows users to override it if they want to provide a specific name to the underlying cloud provider.  I think this should work similarly for Kubernetes.

This one is a little more interesting, b

[2018-07-23 20:58] hausdorff commented on #10
@lukehoban because delete-before-replace is so rare and fairly important, do you think we should warn the user before they're about to do a delete-before-replace?

[2018-07-23 21:06] hausdorff opened #104 "Upcoming ambient config for namespaces could confuse engine"
In https://github.com/kubernetes/kubernetes/issues/27308 it is proposed that `KUBECTL_NAMESPACE` allow users to specify to which namespace we deploy. Because we use client-go, we get these env vars "for free". But, a lot of logic for doing things like determining delete-before-replace logic (_cf_., https://github.com/pulumi/pulumi-kubernetes/pull/103), depends on the namespaces being written stati

[2018-07-24 01:53] #68 closed

[2018-07-24 01:53] #99 closed

[2018-07-24 01:53] #10 closed

[2018-07-24 01:53] #81 closed

[2018-07-24 07:50] hausdorff opened #105 "Deployment update logic is wrong"
We'd like to report success on an `update` of a `Deployment` only when the rollout is complete. Right now we simply report success.

Though this is a "complex" `await` by our standards, it is actually probably not a lot of code to write, and is doable given the existing `await` package API, so we need only modify the core await logic in `await.untilAppsDeploymentUpdated`. In essence, we need to:

[2018-07-25 00:37] hausdorff opened #106 "Account for Pod completion in await logic"
It is possible for `Pod`s to complete successfully. Pulumi will hang indefinitely waiting for such `Pod`s to complete reach ready status. We should complete successfully in such cases.

[2018-07-25 03:54] hausdorff opened #107 "Reduce latency between object creation and polling"
We use exponential backoff when polling for resource updates in the await logic. This means that there can possibly be a multi-ten-second wait time between successful object creation and the time when we report success to the engine. Typically the wait is between 5-10 seconds.

This is pretty annoying. We should do one of the following:

1. Simply don't do backoff, and poll every couple seconds, w

[2018-07-27 18:26] #6 closed, assigned to lukehoban

[2018-07-27 18:42] hausdorff opened #110 "Report aggregated errors on ctrl-c"
When we ctrl-c during some resource operation, we only report the cancellation error. Ideally, we'd like to also report the errors we've seen while awaiting.

Additionally, worth considering if we want to regard cancellation errors as separate from "actual" errors, at least as they are rendered in the CLI/console. When a user cancels an operation, we likely want to have them run `pulumi refresh` v

[2018-07-29 04:34] hausdorff opened #111 "Cancelled resources are a bit awkward to update"
For example, if I have a service that targets 0 pods, and I ctrl-c, and then I update some pods to be targeted by the service, the service will warn of cancellation, but updating it does nothing (since the service itself is not changed).

We might need to always refresh resources with cancellation errors, and maybe errors in general.

The complication here is the Helm chart/YAML adoption story. If

[2018-07-30 17:30] hausdorff commented on #70
Moving (tentatively) to M17, as (1) we don't have a customer asking for this, and (2) now that the Helm support has landed in TS/JS mainline pulumi-kubernetes, adding Python support at least merits considering including Helm support, which would increase the amount of work to do by a fair amount.

[2018-07-30 17:32] hausdorff commented on #43
Now that we've landed what I will call "optimistic await" (and subsequently closed #87), I think we can close this too. If there are bugs in the individual await conditions, we can track those as they crop up.

[2018-07-30 17:32] #43 closed

[2018-07-30 17:35] hausdorff commented on #52
Enabling the test-ci cluster will not happen for M16, and therefore this will not make the cut either.

But, we're meeting the issue halfway and the PR addressing the status-rich updates issues (currently #110, #93, https://github.com/pulumi/pulumi/issues/1545, and https://github.com/pulumi/pulumi-service/issues/1794) will come with a couple thousand lines of tests (most of which I've already writ

[2018-07-30 17:36] hausdorff commented on #46
Superseded by #93.

[2018-07-30 17:36] #46 closed

[2018-07-30 17:45] hausdorff commented on #34
Since we have a better-than-expected Helm provider, I think we can probably close this and focus on making super compelling examples in in kubejs: https://github.com/pulumi/kubejs/issues/3

[2018-07-30 17:45] #34 closed

[2018-08-01 15:49] protometa opened #113 "SIGSEGV on deployment update"
Using a build from latest master. The resource was updated in kubernetes but I get this error when I try to `update`:

[code]

[2018-08-01 15:56] protometa opened #114 "SIGSEGV on deployment update"
Using a build from latest master. The resource was updated in kubernetes but I get this error when I try to `update`:

[code]

[2018-08-01 17:33] protometa commented on #114
NVM updated my `@pulumi/pulumi` to `0.14.3` and it seems to be resolved.

[2018-08-01 20:39] lukehoban commented on #114
@hausdorff Looks like `@pulumi/kubernetes` specifies ` dependencies: { '@pulumi/pulumi': '^0.14.0' },`, but I believe it does actually depend on newer features in `@pulumi/pulumi` for cancellation?  Should we be forcing the dependency to a newer version?

[2018-08-02 00:14] lukehoban commented on #54
@hausdorff I think this is "done" for now with https://github.com/pulumi/pulumi-kubernetes/pull/108, right?

[2018-08-02 00:19] lukehoban opened #115 "Support deployment of Kubernetes YAML files"
We added support for deploying Helm charts via Pulumi in https://github.com/pulumi/pulumi-kubernetes/issues/54, and should extend this to support the (simpler) case of deploying raw Kubernetes YAML files.

[2018-08-02 06:48] hausdorff commented on #113
Duplicate of #114?

[2018-08-02 06:48] #113 closed

[2018-08-02 06:56] hausdorff commented on #114
@lukehoban Hmm, I actually think it's because we're not plumbing the cancellation context through Deployment's update step. I've fixed this in my most recent PR, so when that lands, this should be resolved.

[2018-08-03 15:25] protometa opened #116 "Trouble making ingress"
I can't seem to make ingress resources in particular with build from master. It times out with the following:

[code]

[2018-08-03 20:59] hausdorff opened #117 "Turn on examples tests when parallelism is added"

[2018-08-03 21:19] #98 closed

[2018-08-03 21:19] #107 closed

[2018-08-03 21:19] #114 closed

[2018-08-03 21:19] #110 closed

[2018-08-03 21:56] hausdorff commented on #93
Critical resources are covered, we don't need to cover PVs and PVCs. Bumping the rest to M17.

[2018-08-03 21:58] hausdorff commented on #90
Getting a "real" Kubernetes cluster up for CI turned out to be harder than expected, so we ended up using CarbonQL to record every intermediate state of critical resources under different update/create circumstances, and turned those into tests. So we can close this for now with #112.

[2018-08-03 21:58] #90 closed

[2018-08-03 21:58] hausdorff commented on #105
Fixed with #112.

[2018-08-03 21:58] hausdorff commented on #106
Fixed with #112.

[2018-08-03 21:58] #106 closed

[2018-08-03 22:00] hausdorff commented on #54
This can be marked as done. An ancillary note is that it turned out to be hard to write a Tiller provider, so we "just" wrote the Helm adopter.

[2018-08-03 22:00] #54 closed

[2018-08-03 22:01] #105 closed

[2018-08-09 18:04] pgavlin opened #120 "Expose a first-class provider type."
ala `aws.Provider`.

[2018-08-09 18:31] joeduffy commented on #54
From my recent discussions with folks recently, not supporting a Tiller-based provider is actually a good thing anyway. It's worth tracking how we'd dock in with the new CRD-based Helm system, however.

[2018-08-09 23:06] #100 closed

[2018-08-09 23:07] #101 closed

[2018-08-09 23:07] pgavlin commented on #101
Closed with #119.

[2018-08-10 22:17] protometa opened #124 "Inputs not working"
Whenever I try to attach a pulumi output to kubernetes inputs I get an error like the following:
[code]
As in this example:
[code]

[2018-08-10 22:40] hausdorff commented on #96
Closed with #123.

[2018-08-10 22:40] #96 closed

[2018-08-11 05:11] ellismg commented on #117
Fixed with
https://github.com/pulumi/pulumi-kubernetes/commit/b5546fba8647e18635d9e37d39d074552e74c319

[2018-08-11 05:11] #117 closed

[2018-08-11 22:16] lukehoban commented on #124
Looks like support for `Inputs` was done only at the very top level of the API inputs.  Like in the TF-based providers, `Input<T>` should be wrapped at every nested layer in the input type shape to ensure that outputs can be passed as leaf node values in complex inputs.

I hit this myself - trying to write this:

[code]

But being forced instead to write this:

[code]

[2018-08-12 19:32] joeduffy opened #127 "Kubernetes resources don't take CustomResourceOptions"
The primary motivation for adding custom providers is so that you can provision a Kubernetes cluster and then deploy resources on top of it. Sadly, it appears that for this to work without compilation errors, we need to update the Kubernetes types to accept `CustomResourceOptions`, rather than just `ResourceOptions`, similar to https://github.com/pulumi/pulumi-terraform/pull/228.

[code]

Please l

[2018-08-12 19:33] lukehoban commented on #127
Yes - this was a late break on Friday that was fixed for TF providers yesterday, but we must take a fix for Kubernetes as well.

[2018-08-12 19:35] joeduffy commented on #127
I thought I'd be able to fool the compiler and simply pass the properties to my Helm Chart, but it appears to be more difficult than that:

`info: error: [runtime] Explicit providers may not be used with component resources`

I guess the `ComponentResource `is supposed to pull out the provider, pass it to all of its child resources, and make sure it doesn't include the `provider` property in its `

[2018-08-12 23:03] joeduffy opened #128 "Missing helm error is terrifying"
I didn't realize I'd need the Helm CLI to run Helm charts.

Is there a way to accomplish this by depending on the library alone?

Apparently I don't have `helm` installed on my machine, which led to the following error. If we plan to keep this dependency, we should improve this:

[code]

Also /cc @swgillespie for his thoughts.

[2018-08-13 02:36] lukehoban opened #130 "Add test coverage for explicit provider"
In https://github.com/pulumi/pulumi-kubernetes/pull/121 we added support for explicitly initializing the Kubernetes provider.  We should add test coverage for this.

[2018-08-13 20:31] lukehoban commented on #127
This was fixed with https://github.com/pulumi/pulumi-kubernetes/pull/129.

With those changes - you can do the following (since `Chart` is a component):

[code]

[2018-08-13 20:31] #127 closed

[2018-08-13 21:06] hausdorff commented on #124
So looking at the code, it looks like the fields are wrapped with `pulumi.Input<T>` correctly.

I believe the error is that we're passing the unknown values to the Kubernetes API server during validation, which causes it to choke. We will need to fix this for M17, but it is going to take some thinking to figure out how...

[2018-08-14 19:23] hausdorff opened #133 "Populate errors using events"
In several complex resources (_e.g._, `Service`), errors are surfaced through `v1.Event`s rather than through the `.status` field of the object itself. It is therefor possible for the creation to hang until it times out, with no error reported back about what really went wrong. For example, an event might report something like this:

[code]

This error would not be reported to the user at all.

[2018-08-14 20:29] hausdorff opened #134 "`export`'ing a service's IP does not seem to work"
When we do something like:

[code]

This gives us an error that `status` is `undefined`.

[2018-08-14 21:21] hausdorff opened #136 "Detecting init error logic is wrong for some replacements"
We encountered the following scenario:

* We have a resource with a `.metadata.name` specified, so that Pulumi cannot allocate a name.
* We change the "Pulumi name" of the object.
* The create fails because an object with that `.metadata.name` already exists.
* We then move the Pulumi name back to the old "Pulumi name".
* Since both Pulumi objects have the same `.metadata.name`, and because Pulumi

[2018-08-15 01:39] pgavlin opened #137 "Outputs not working"
Output properties on k8s resources are not being populated. This is because the values of these properties do not live at the root level in the resource's state object; instead, they are nested under "live".

A simple fix here is to move the live state that contains the values of the output properties to the root level of the resource's state object (i.e. instead of storing `{ inputs: {}, live: {}

[2018-08-15 01:48] pgavlin commented on #137
Another candidate fix is to update the `pulumi.CustomResource` type to accept a function in its constructor that is called by the runtime to find the resource's output properties in its state. This has the advantage of making outputs work with existing state files. The approach proposed above would only fix outputs for resources created or updated after the fix.

Another approach that would light

[2018-08-15 01:49] pgavlin commented on #137
A simple implementation of the originally-proposed fix is here: https://github.com/pulumi/pulumi-kubernetes/compare/pgavlin/fixOutputs

[2018-08-15 01:49] pgavlin commented on #137
cc @hausdorff @lukehoban @swgillespie

[2018-08-15 02:35] joeduffy commented on #137
@pgavlin I noticed this doesn't have a milestone, and isn't assigned to anyone. Did you mean to put it in M17? It would seem this is a serious issue we want to fix for 15.1.

If that was your intent, can you tag the work item accordingly? (Good habit to get into for all new work items.)

[2018-08-15 03:04] hausdorff commented on #137
This is actually a duplicate of #134, but since discussion has moved here let's close that ticket and re-tag this one accordingly.

[2018-08-15 03:05] hausdorff commented on #134
#137 was opened and the discussion moved there, so we can close this issue.

[2018-08-15 03:05] #134 closed

[2018-08-15 03:17] hausdorff commented on #137
This is critical to fix for v0.15.1. The big question for me is whether the "right way" to fix this is too expensive or risky to fit into v0.15.1.

I think Pat and I agree that "correct" solution is to change the protocol so that functions consuming the state object get a copy of the old inputs. The "packed" state struct with `live` and `inputs` was always a hack to accommodate Kubernetes' need fo

[2018-08-15 16:31] #130 closed

[2018-08-15 21:55] #137 closed

[2018-08-16 01:10] hausdorff commented on #116
@protometa I was not able to reproduce, could you please share your `Ingress` config? This error typically happens when the kube provider panics and the Pulumi engine doesn't know what to do, because a panic does not produce an ID.

[2018-08-20 12:43] joeduffy opened #141 "Resource failed to initialize warning is not actionable"
I had a stack that failed to provision, due to two issues: (1) a timeout and (2) a ReplicaSet not being created (but which was actually created -- possibly also a timeout?) This left my stack in a state where no matter what I did, running `up` led to the following output

[code]

It was not clear to me how to proceed. The message says "It is recommended to update it to fix these issues:", and then

[2018-08-20 12:56] joeduffy opened #142 "Automatically namespace or mangle names"
In other resource providers, we add an auto-generated suffix for resource names so that independent stacks don't conflict. We don't appear to do that with Kubernetes, which is unfortunate, as it means that you need to go out of your way to add uniqueness (which can be cumbersome but, worse than that, is philosophically misaligned with the rest of Pulumi's resource providers).

At the same time, we

[2018-08-20 12:59] lukehoban commented on #142
We do autoname now, right? https://github.com/pulumi/pulumi-kubernetes/issues/10.

[2018-08-20 13:19] joeduffy commented on #142
Empirically, if we do, we don't seem to have achieved the goal of auto-naming. I tried to stand up two entirely distinct guestbook stacks against the same cluster, and they failed due to names colliding in the cluster. This was with the 15.0 CLI and 15.1 Kubernetes package.

[2018-08-20 13:25] lukehoban commented on #142
If you are still passing `name` explicitly, then that will get used.

If you were deploying the Guestbook example here, it should be applying auto naming: https://github.com/pulumi/examples/tree/master/kubernetes-ts-guestbook

It’s quite possible we need to clean up some other examples to make sure we are relying on auto naming by default instead of explicitly overriding the name.

The one-to-one

[2018-08-20 14:15] joeduffy commented on #142
Is there a reason we decided against auto-namespacing? This would seem to solve this problem, and add a number of other benefits...

[2018-08-20 16:09] hazsetata opened #143 "Helm chart deployment failed (Windows 10)"
I try to run the following Helm install, targeting an Azure AKS cluster, on Windows 10 (Pulumi v0.15.0):

[code]
And I get an error, something that looks like wrong escaping of drive letter on Windows:

[code]

[2018-08-21 01:52] hausdorff commented on #142
To answer the questions directly: Yes, we do auto-name, and our current strategy of not auto-naming if `.metadata.name` is specified was chosen to be consistent with how other providers work.

For auto-namespacing: yep, we did have specific reasons for not doing auto-namespacing. I will say I do think it's totally appropriate to re-litigate the decision if we now think there are compelling reasons

[2018-08-21 01:54] hausdorff commented on #142
Oh, also, this is not nearly as much of a problem for Helm charts, where changing the release name should, in theory, allow you to stamp out multiple charts.

[2018-08-21 13:23] joeduffy opened #144 "ReplicaSet was never created; timeouts"
I have hit the same error several times now when creating or updating the Guestbook example application in Minikube:

[code]

This has happened when first provisioning the application and now seems to happen reliably when changing the frontend replica count from 3 to 5:

[code]

In all cases, the update was actually successful, so the bug appears to be in our await logic.

The detailed diff looks

[2018-08-21 15:20] hazsetata opened #145 "Kubernetes "default" namespace handling"
in kubernetes "default" namespace can be omitted from manifests. But if I read the following manifest file:

[code]

Pulumi creates the object (internally) with name: default/bzcerts-cert-manager
However if I use this:

[code]

Pulumi creates the object (internally) with name: bzcerts-cert-manager

It tripped me up when I try to get some info from the spec:

export const certManager = configGroup.

[2018-08-21 18:07] hausdorff opened #146 "Presence of CRDs cause deletes to fail"

[2018-08-21 18:10] hausdorff opened #147 "`getResources` ID should understand namespacing semantics in OpenAPI spec"
Right now the ID property is pretty dumb. It's `${namespace}/${name}` if `.metadata.namespace` is present, and `${name}` if it's not. A better approach would be to default to `default/${name}` if the resource type is "namespaced" -- _i.e._, whether OpenAPI reports that it can be deployed in a namespace.

[2018-08-21 18:58] hausdorff commented on #146
The core issue here is that we're creating canonical IDs for resources using the `.` character. These IDs take the form of `${namespace}.${name}`, or simply `${name}` if it does not exist.

We copied this strategy from ksonnet, which in turn copied it from some part of `kubectl`, but this turns out to be a critical flaw, because `.` is an allowed character in DNS-1123-compliant names. This means i

[2018-08-21 19:18] protometa opened #148 "ComponentResource parenting failure"
Switched to version `0.15.1`. I have lots of `ComponentResource`s that worked with `0.14.x` but now they all error with something like:

[code]

I'll try to follow up with a test case.

[2018-08-21 20:35] hausdorff commented on #144
Ok, looks like this is something in the `update` path. Scaling the `ReplicaSet` does not trigger a new rollout, and therefore we should not expect it to rollout. We don't, so we hang forever.

We'll fix for v0.15.1.

[2018-08-22 01:16] hausdorff commented on #143
This is a bug in our dependency on the nodejs `shell-quote` package. Should be fixed in #149, and included in v0.15.2.

[2018-08-22 05:25] hausdorff commented on #148
Hmm, it's hard to say what's going on here. `ComponentResource` extends `Resource`, so if `this` is a `ComponentResource`, this seems like it should work. Can you provide more detail?

[2018-08-22 06:02] hausdorff commented on #147
So looking at this further, it seems that we cannot do this without consulting the API server's runtime for ever resource. In other words, for each Group/Version/Kind we must ask the API server directly: is this a namespaced resource? This makes it very, vary hard to statically implement consistent naming based on the resource type in `getResources`.

The good news is that I believe we _can_ use `

[2018-08-22 06:09] joeduffy commented on #148
Also cc @CyrusNajmabadi as he tends to be a typing wizard.

[2018-08-22 17:43] hausdorff commented on #52
This is not critical. Moving to 0.18.

[2018-08-22 17:43] hausdorff commented on #70
Not prioritized for 0.17. Moving to 0.18.

[2018-08-22 17:43] hausdorff commented on #59
Not prioritize for 0.17. Moving to 0.18.

[2018-08-22 17:49] #146 closed

[2018-08-22 17:49] #144 closed

[2018-08-22 17:49] #128 closed

[2018-08-22 18:03] hausdorff opened #150 "yaml.ConfigGroup, yaml.ConfigFile should be able to take arbitrary URLs"
Right now they only take files or globs.

[2018-08-22 21:35] CyrusNajmabadi commented on #148
Would need to see a bit more of the typings to get what is happening here.

Note: one thing that may be biting @protometa is mismatched versions of our libraries.  i.e. they have @pulumi/pulumi pulled in through multiple paths.  And through one path things have a slightly different shape.  I'm a bit confused by teh error too if it also ends with:

[code]

Normally TS is good about telling you *why

[2018-08-23 05:43] protometa commented on #148
Yeah I updated my `@pulumi/pulumi` version and that fixed things. Should there be a peerDependency warning?

[2018-08-23 05:47] protometa commented on #148
Oh I see that `@pulumi/pulumi` is a real dependency. Perhaps it's a major version 0 semver failure.

[2018-08-23 06:01] protometa commented on #148
Actually I guess it's just about using a `@pulumi/pulumi@0.14.x` `ComponentResource` with a `@pulumi/kubernetes@0.15.x` child resource. Maybe listing a peer dependency is the way to go.

[2018-08-23 16:58] protometa commented on #148
After upgrading I'm getting a new error though #1820

[2018-08-23 18:29] protometa commented on #124
Is this just an issue with `ConfigMap.data`? I realized all my cases involved that...

For example, when plugging into `metadata.name` it works fine:

[code]

[2018-08-23 19:10] CyrusNajmabadi opened #151 "Consider making 'args' object completely optional when all properties in it are optional."
For example, if i want to make a k8s.core.v1.Namespace i'm required to pass an args bag, even though all the props in that bag are optional.  It would be nice if i didn't have to pass the bag at all.

[2018-08-23 19:14] CyrusNajmabadi opened #152 "Accept actual Namespace resources wherever a namespace name is accepted"
Right now ObjectMetadata.namespace is typed as Input<string>.  It would be nice if it could actually take a core.Namespace instance.

[2018-08-23 19:18] CyrusNajmabadi commented on #152
This is especially obnoxious since you effectively have to both create a Namespace object and then later do: `namespace: namespace.metadata.apply(m => m.name)`

Not discoverable or easy.

[2018-08-23 19:28] CyrusNajmabadi opened #153 "Warning message confusing: "Does not target any Pods""
Due to low resource allocation in test-ci i got this warning: "1 warning. warning: Service 'redis-master' does not target any Pods"

This was a bit confusing as it makes it sound (due to the 'target' phrase) like i've misconfigured something.  i.e. i would think i'd need to go add a "target: ..." to the 'spec' section of Service object.  If this is one of our messages, we should make it clearer th

[2018-08-23 19:37] CyrusNajmabadi opened #154 "Warning also emitted as error. I was very confused."
My kuberenetes update failed with teh following:

[code]

Note that i was first told about the warning that a service was not targeting any pods.  That didn't seem so bad.  However, right below that i then got an error, and it says the error was due to the service not targeting any pods.

This is definitely confusing and strange to me.  I honestly don't know why it's an warning one time, and an er

[2018-08-23 19:39] CyrusNajmabadi opened #155 "Link to appropriate docs when an update fails"
Update of my app failed with:

[code]

I'm not sure what to do at this point.  Going to the link in the message shows my app status, with an appropriate alert icon and "Initialization Errors" message that shows a problem with my "Frontend" resource.  However, i have no information at all given on what steps i might take next to try to address this.

[2018-08-23 19:40] CyrusNajmabadi commented on #155
Note: running `pulumi up` again gave me this *really good* message:

[code]

It would have been great to have heard that when the failure happened, not on a later step that i had to guess at.

[2018-08-23 19:57] CyrusNajmabadi opened #156 "Running kubernetes guestbook sample does not result in the expected set of resources."
The sample says i should expect to see:

[code]

However, all i see is:

[code]

You can see my app here: https://app.pulumi.com/CyrusNajmabadi/cy-guestbook-dev/updates/3

[2018-08-23 20:33] CyrusNajmabadi opened #157 "Validation error during 'apply' but not during 'preview'"
I got this error during apply:

[code]

I would have expected to get such an error during preview.  It's definitely somthing that would scare me as a user as i could have done some amount of updates and then be left in a bad state.

[2018-08-23 21:18] CyrusNajmabadi opened #158 "Create guestbook sample has incorrect statement in it."
I followed hte instruction for the guestbook sample.  It says:

[code]

But this is not the case for my stack.  I got:

[code]

The IPs are not the same.
You can see this stack here: https://app.pulumi.com/CyrusNajmabadi/cy-guest1-dev/updates/1

[2018-08-23 21:27] ellismg opened #159 "Checkmarks during Updates don't render on Windows"
When you run `pulumi up` on Windows, the emjois displayed in the console as part of the status rich updates don't render correctly on a default windows install (you end up with question-mark boxes)

We should just not print emjoi's on windows.  We already do this elsewhere in the CLI, but I assume these messages are coming from the kubernetes provider and we'll need a change here as well.

Here's

[2018-08-23 23:19] hausdorff commented on #148
@CyrusNajmabadi you know more about node stuff than I do... do you think it should be listed as a peer dependency?

[2018-08-24 17:04] ellismg commented on #143
This is still an issue with 0.16.0.  Alex and I were chatting a bit about it during the hackathon and got something working, but I think we need to do a quick pass over the way we are quoting and shelling everything to make sure stuff is correct and there aren't any other lingering issues.

[2018-08-24 17:18] joeduffy commented on #142
I'm going to reopen just for tracking -- let's have an in person discussion.

[2018-08-24 21:35] hausdorff opened #161 "Make `transforms` more `bind`-like"
In `k8s.helm.Chart` and `k8s.yaml.Config*`, we allow people to transform the arguments to Kubernetes resources before the constructor is called. This is useful when, _e.g._, a Helm chart is broken, and we need to change it before the `CustomResource` is created.

Currently, a transform relies on the user mutating the actual arguments object. This is convenient, but it doesn't help when we need to

[2018-08-25 00:32] hausdorff commented on #124
I have a fix ready, we will cut a new release sometime next week.

[2018-08-27 15:52] pgavlin opened #162 "Cannot use `Input<>` with `ChartOpts`"
e.g. the outputs of another resource cannot be used to fill in a Helm chart's parameters.

[2018-08-27 15:54] pgavlin opened #163 "Should `Chart.getResource` throw for unknown resources?"
Today it simply returns `undefined`, which leads to confusing errors when the retrieved resource is used.

[2018-08-27 15:56] pgavlin opened #164 "Creating a namespace that already exists returns an `InitError`"
Instead of an `InitError`, this should probably be a proper error. This is especially bad because the engine will delete the preexisting namespace if the "failed" resource is deleted (e.g. during a destroy).

[2018-08-27 15:57] pgavlin opened #165 "`pulumi logs` should support Kubernetes resources"
Just what it says on the tin. This should perhaps be filed in `pulumi/pulumi` as that's where the relevant code lives; I'm happy to move it if that seems better.

[2018-08-27 16:04] pgavlin opened #166 "Schema verification in `Check` should be bypassed for resources with any unknown inputs"
As per discussion with @hausdorff, we cannot reasonably generate valid stand-ins for these values, so verification is very likely to fail. Instead we should bypass verification in `Check`. We'll find any errors when we actually attempt to create/update the relevant resource.

[2018-08-27 16:14] lukehoban commented on #166
Is this the same as (the fix we plan to take for) https://github.com/pulumi/pulumi-kubernetes/issues/124?

[2018-08-27 16:28] pgavlin commented on #166
Yes, I think so. Closing.

[2018-08-27 16:28] #166 closed

[2018-08-27 16:38] pgavlin opened #167 "Tooling for generating strongly-typed `values` for Helm charts"
Today `values` is simply typed as `any` s.t. it may accommodate the varying shapes of each particular Helm chart's configuration parameters. It would be nice if we had some simple tooling for generating a strongly-typed projection for a particular chart.

[2018-08-27 17:31] hausdorff opened #168 "`getResource` and `parseYamlObject` should work with CRDs"

[2018-08-27 20:43] protometa opened #169 "Resources with a dot in the name can't be deleted"
[code]

[2018-08-29 01:03] joeduffy opened #171 "Explore better `kubectl` integration"
It would be nifty if we could hook into `kubectl` somehow, a la

[code]

to do a Pulumi update. I'm not sure if some combination of [plugin magic](https://kubernetes.io/docs/tasks/extend-kubectl/kubectl-plugins/) can achieve this, but @hausdorff thought so.

[2018-08-29 21:44] hausdorff commented on #157
I agree, but I'm not sure how to implement this in general. The API server only really allows us to check that some object is adherent to a schema.

[2018-08-29 21:49] hausdorff commented on #164
This is a duplicate of #136.

[2018-08-29 21:49] #164 closed

[2018-08-29 22:03] hausdorff commented on #156
This seems to be a failure to initialize services because the app pods never lit up correctly. Correct me if I'm wrong, @CyrusNajmabadi -- I believe this should be fixed with #155. I'll close for now, feel free to re-open if I'm misinterpreting the data.

[2018-08-29 22:03] #156 closed

[2018-08-30 00:01] hausdorff commented on #169
@protometa This should be fixed in `v0.16.0` -- when you get a chance, could you please try that out?

I'm going to close the issue for now, but if it still is a problem, please do re-open and let us know. :)

[2018-08-30 00:01] #169 closed

[2018-08-30 00:03] hausdorff commented on #163
Let's close this in favor of #168, and add more details there, since this affects the `yaml` namespace as well.

[2018-08-30 00:03] #163 closed

[2018-08-30 00:03] hausdorff commented on #168
_cf_., #163 as well -- solution here should solve both.

[2018-08-30 16:59] joeduffy opened #173 "Poor IDE errors on some types"
I was trying to write a blog post to demonstrate some of the benefits of having real code in an IDE: namely, interactive error messages for typos, type errors, and so on. Unfortunately, the first several times I tried, the error messages were in fact not very good. I am using our Kubernetes template project from https://github.com/pulumi/templates/tree/master/kubernetes-typescript, and I've filed

[2018-08-30 17:01] CyrusNajmabadi commented on #173
@DanielRosenwasser Can you shed some light here?  Our understanding was that TS3.0+ would help out here by whittling things down the properties that are the problem.  Is there some reason that isn't happening?  A config error on our side perhaps?  Or is there something about these types that leads to TS feeling like it can't trim this down?

[2018-08-30 17:14] joeduffy commented on #173
I should note that this is using TypeScript 3.0.3 for the project and VS Code is version 1.26.1 at version 3.0.1 of TypeScript (or so I assume, given that this is in the right hand corner):

![image](https://user-images.githubusercontent.com/3953235/44867719-8211fe80-ac3d-11e8-8eb4-1e5f0638de4b.png)

Also worth noting that these types use our `pulumi.Input<T>` type fairly aggressively, which is a

[2018-08-30 17:43] DanielRosenwasser commented on #173
Sorry guys: https://github.com/Microsoft/TypeScript/issues/25695

Please leave feedback there and feel free to link back here!

[2018-08-30 17:54] CyrusNajmabadi commented on #173
@DanielRosenwasser Actually, we're still seeing an issue even when not using an argument. i.e.:

![image](https://user-images.githubusercontent.com/4564579/44869679-0adf6900-ac43-11e8-9d8f-410967f5cef2.png)

Known issue as well?

[2018-08-30 18:49] DanielRosenwasser commented on #173
I think the problem there is that we're comparing to a union type which limits our ability to confidently specialize the error. Maybe https://github.com/Microsoft/TypeScript/issues/26450 would help there.

[2018-08-30 18:57] CyrusNajmabadi commented on #173
I see.  That would likely definitely affect us.  We have a union type which likely is the source of the issue (given the message about `.apply` int eh error.  specifically, we call it:

```type Input<T> = T | Promise<T> | Output<T>```

Meaning: you can pass in a raw T value.  Or you can pass something that asynchronously produces a T.  Or you provide a 'node' (Output) into our graph, which itself

[2018-08-30 21:09] lukehoban commented on #173
Is there anything we can do to improve here prior to fixes/improvements on the TypeScript side?

My assumption is unfortunately no (short of somehow not using the `type Input<T> = T | Promise<T> | Output<T>` union - which at this stage is not really an option).

[2018-08-31 18:17] #143 closed

[2018-08-31 23:26] hausdorff commented on #40
I think we can close this for now. If we need more examples, we can re-open with a more targeted issue.

[2018-08-31 23:26] #40 closed

[2018-08-31 23:30] hausdorff commented on #30
This should not be a bug any more, since we no longer depend on TF for Kubernetes.

[2018-08-31 23:30] #30 closed

[2018-09-01 00:04] #124 closed

[2018-09-01 00:04] #153 closed

[2018-09-01 05:07] hausdorff commented on #154
Fixed with #174.

[2018-09-01 05:07] #154 closed

[2018-09-02 20:14] mingfang opened #175 "Move all Helm related features to another repo"
Please keep this repo pure Kubernetes and move all Helm related features to another dedicated repo.

[2018-09-03 21:40] hausdorff commented on #175
Thanks for opening the discussion! It seems to me that most of our prospective users are probably using Helm now, and so rather than asking them to install two things, it makes sense to me to bundle them together. I do agree this makes the repository less pure.

What do you see as the main negative impacts that would cause us to want to change this decision?

[2018-09-03 21:47] mingfang commented on #175
I don't agree but I can fork this repo to remove it myself.

[2018-09-03 21:51] hausdorff opened #176 "Add support for instances of CRDs"
We support defining CRDs, but there are currently no facilities for creating instances of CRDs, colloquially called `CustomResource`s.

[2018-09-03 22:04] hausdorff opened #177 "Add labels to make it easy to query for resources that are managed by Pulumi"

[2018-09-03 22:31] joeduffy commented on #175
I agree with Ming on this.

One repo to do one thing well.

[2018-09-03 22:31] joeduffy commented on #175
And more importantly, one package per major component.

[2018-09-04 01:44] mingfang opened #178 "add ExternalName service type support to serviceInitAwaiter"
According to https://kubernetes.io/docs/concepts/services-networking/service/, the ExternalName service type does not have any endpoints.  The current serviceInitAwaiter does not handle this type and eventual fails after timeout waiting for endpoints.

[2018-09-04 01:51] mingfang opened #179 "awaiters should be optional"
While awaiters are nice in some cases, the concept is not natural to kubernetes; Kubernetes encourages asynchronous operations leading to eventual consistency.

Please make awaiters optional by providing a way to toggle them on/off on a case by case basis.

[2018-09-04 02:04] mingfang commented on #177
This is a good idea. Terraform tags AWS resources for the same purpose.
This has to be using labels since kubernetes can not filter using annotations.

[2018-09-04 17:44] CyrusNajmabadi commented on #173
Moving out as i don't see anything feasible here.  We're effectively at the mercy of https://github.com/Microsoft/TypeScript/issues/26450.

[2018-09-04 17:54] joeduffy commented on #173
Let's just close and as TypeScript improves, we will improve. It seems there's nothing we can really do other than abandoning our union types (which clearly can't happen).

[2018-09-04 17:54] #173 closed

[2018-09-04 19:05] hausdorff commented on #141
This should be resolved with #174.

[2018-09-04 19:05] #141 closed

[2018-09-04 19:07] hausdorff commented on #95
Closing as duplicate of https://github.com/pulumi/pulumi-docker/issues/2

[2018-09-04 19:07] #95 closed

[2018-09-04 19:10] hausdorff commented on #111
The vast bulk of this should be mitigated by https://github.com/pulumi/pulumi/pull/1836. Let's close this issue, and if we find that this experience is still lacking, let's open new issues tracking more specific variants of this problem.

[2018-09-04 19:10] #111 closed

[2018-09-04 19:15] hausdorff commented on #157
Talking to @lukehoban I think we should close this as `wontfix`, because it is pretty hard to implement, and probably not worth the effort. Stakeholders, (@joeduffy, @lukehoban) feel free to re-open the issue and discuss if you don't agree.

[2018-09-04 19:15] #157 closed

[2018-09-04 19:27] joeduffy commented on #175
Helm is an independent project with independent governance, and lifetime. I love Helm, but I'd be incredibly surprised if there is 80% overlap. Our overall policy elsewhere is to keep opinionated policy out of the core fundamental repos, particularly during "incubation," and that applies here also.

If the Helm project ever merges with Kubernetes in a more intimate way, we can revisit, but for now

[2018-09-04 19:31] mingfang commented on #175
I agree with @joeduffy completely.
In fact I feel the concept of awaiters here is also opinionated and should be opted in.
But that's battle for another ticket :-)

[2018-09-04 21:26] hausdorff commented on #175
So, again, to summarize: I am ok if you and @lukehoban agree to move this out, but I do want to be very clear about what I think the implications are (creates a road block for most of our at-scale users, which we know from previous experience is significant because of discoverability problems) and why I think it is not so far-fetched to glom it in (because it is a part of what people think about w

[2018-09-04 23:31] hausdorff opened #181 "Upgrade CI, use recent API versions"
_e.g._, prefer `apps.v1.Deployment` to `apps.v1beta1.Deployment`. This is prevented by our lagging minikube version.

[2018-09-05 00:10] mingfang commented on #179
It would be great to have both options, 1-a way to toggle awaiters at the provider level, and then 2-a way to override on a per resource basis.

I'm don't think it's a downside because users coming from kubectl are used to this behavior.  On the contrary the downside of the awaiters are that they are opinionated and are not be correct for all use cases.

[2018-09-05 00:26] mingfang commented on #179
I would like use this tool at different layers of abstraction.  At the lowest layer it would be behavior like pure kubernetes, like kubectl apply.  Then I can opt-in to more opinionated layers such as awaiters and maybe pulumi-cloud.

[2018-09-05 00:26] hausdorff commented on #179
I am curious to hear more about why you believe this. The `Service` awaiters are basically an implementation of [the official documentation on debugging `Services`](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/). The idea is to simply present the results of the manual steps you'd have take to understand why your `Pod`s aren't getting traffic from some `Service`. It seem

[2018-09-05 00:29] hausdorff commented on #179
That said, @lukehoban and I had a conversation and after consideration, we do agree that this is a useful thing to do. We basically agree on the plan to have a global setting (perhaps `kubernetes:config:skipWaitForReady`) as well as an extension of `ResourceOptions` on a per-resource basis. This is pretty trivially doable for M18.

[2018-09-05 00:30] mingfang commented on #179
When endpoints are not created, the problem will be in the pods, replica sets, or deployments. The fault will never be in the service nor can be fixed by the service. The service is a standalone resource in kubernetes. Forcing it to depend on endpoints is unnatural to kubernetes and in my option it's just plain wrong.

[2018-09-05 00:33] hausdorff commented on #179
Yeah, I hear you, I totally get that point of view. Hopefully these upcoming opt-out flags will help you when we release M18. :)

But, FWIW, a thing we _have_ seen users do is to mis-target `Pod`s with a faulty selector, for example, especially new users. With the exception of services of type `ExternalName`, I do think that no one ever intends to target 0 pods, and that is the reason why we regis

[2018-09-05 00:40] mingfang commented on #179
Yes I agree that the raw kubernetes resources can be mis-used and I understand you're keeping the users in mind.  In fact I built my own higher level abstraction that auto creates services and deployments while making sure the selectors are correct.

You can see an example here https://github.com/mingfang/jenkins-seed/blob/master/httpbin.yml.
This is the python code that reads that yaml and genera

[2018-09-05 01:29] #168 closed

[2018-09-05 01:29] #176 closed

[2018-09-05 01:29] #178 closed

[2018-09-05 01:33] hausdorff commented on #179
So, more concretely related to the proposal: the main thing to decide here is what happens to `pulumi.Output` properties.

Talking with @lukehoban I tentatively suggest that we simply make `pulumi.Output`s resolve to `undefined`. I am reticent to make them `throw Error`, as that seems like something the users would want to decide.

If anyone has thoughts on this I'd be glad to hear them.

[2018-09-05 04:06] mingfang opened #183 "Unable to generate from Kubernetes API v1.10.7+"
Changing https://github.com/pulumi/pulumi-kubernetes/blob/f9345c594528ee94a842ddc3206198a5b76b3ef0/Makefile#L12 to v1.10.7 and v1.11.2 causes the build to fail with this error
[code]

[2018-09-05 12:25] mingfang commented on #179
After reviewing the code for the awaiters, core_service.go in particular, I think there is a lot of value in them.  Now I understand that taking them away would cause many issues in the way the rest of this provider works.  My only issue is that the core_service awaiter should not wait for endpoints.  If we can remove that then this ticket can be closed as won't fix.

[2018-09-05 17:13] hausdorff commented on #179
@mingfang hmm, what other issues do you see this as causing? It seems to me that if we cause `pulumi.Output` values to simply be `undefined`, this would be acceptable for many use cases?

[2018-09-05 18:06] hausdorff opened #184 "Consider specifying the await logic in a higher-level library"
As the await logic for Pulumi Kubernetes objects becomes more complex, it has become increasingly obvious that several API objects are going to be hard to get right in all cases without additional information provided from the user.

For example, it is impossible to statically infer from a `Pod` definition what conditions we should wait for -- is the `Pod` meant to complete? Run forever? If a cont

[2018-09-05 18:08] hausdorff commented on #184
My current thinking is that the lower-level constructs would then become _more_ permissive -- so the normal, un-annotated `core.v1.Pod` would not have any await logic associated with it, for example.

It's also worth noting that this has implications in several areas -- how diffs are rendered, _etc_.

[2018-09-05 20:47] hausdorff commented on #162
This turns out to be harder than we had thought -- `chart.values` needs to be recursively expanded before it is written to some temporary file, so that the `helm` CLI can pick it up. Let's move to 0.18, as this will not block adoptino.

[2018-09-05 21:07] hausdorff opened #185 "ctrl-c sometimes waits for a very long time"
This seems to happen when a `Deployment` is marked `update`, and it is in the process of waiting while initialization warnings are present. It will just hang until it times out.

[2018-09-06 01:23] gitfool opened #187 "Typo in apps_deployment.go"
I've been reading the source to see how it waits for a Kubernetes deployment. Unless I'm missing something, I came across what seems to be a "copy-paste" typo at [pkg/await/apps_deployment.go#L227](https://github.com/pulumi/pulumi-kubernetes/blob/master/pkg/await/apps_deployment.go#L227):

[code]
should be:
[code]
🤔

[2018-09-06 01:36] hausdorff commented on #187
🔥 😅 🔥

`Pod`s only provide diagnostic information, so this should have no impact on correctness, but it sure is embarrassing! Will fix ASAP.

[2018-09-06 01:38] hausdorff commented on #187
@gitfool Ok this should be fixed in the PR #188.

BTW, happy to answer questions about how the deployment awaiter logic works... alex@pulumi.com, or hit me up in Slack.

[2018-09-06 01:52] #187 closed

[2018-09-06 02:13] hausdorff commented on #185
Ugh, I can't seem to reproduce this, even though I wrote down detailed notes about where I encountered it. Grumble grumble.

[2018-09-06 02:19] protometa opened #189 "ExternalName Service no Pods"
Service of type ExternalName tries to wait for pods and errors on create:

[code]

Though the service is correct created. Warnings on subsequent update:

[code]

[2018-09-06 02:28] hausdorff commented on #189
@protometa actually, we just solved this in #180. _cf_., #178.

[2018-09-06 02:28] #189 closed

[2018-09-06 02:30] hausdorff commented on #189
BTW, the release containing this change will happen imminently -- tomorrow, probably.

[2018-09-06 18:32] hausdorff commented on #162
Let's expand the scope of this issue to make all `ChartOpts` of type `pulumi.Input`

[2018-09-06 19:05] hausdorff opened #191 "Deployment awaiters do not use `FailedCreate` information"
For example, in `.status.conditions`, we might have this information, but it would not be surfaced to the user:

[code]

[2018-09-07 22:41] joeduffy opened #194 "Add some Kubernetes tutorials"

[2018-09-07 22:43] joeduffy opened #195 "Create a Kubernetes FAQ"
Let's have a Kubernetes-specific FAQ. For example:

* How does this relate to kubectl?
* How does this relate to Helm?
* Can I use Pulumi without the service?
* Etc.

[2018-09-09 04:05] hausdorff opened #196 "Automatically fill in `.Capabilities` in Helm Charts"
These are typically filled in on the server (_e.g._, whether the API server supports RBAC or not). Helm Charts tend to use these values for doing things like determining the `apiVersion` to use for certain resources. If this is not filled in, it can fail in extremely confusing ways.

[2018-09-09 06:55] hausdorff opened #197 "Deployment awaiter is wrong for the case previous state had init errors"
We want to check if the rollout succeeded only if this is not the first time we've succeeded. If there were previously initialization errors, we currently expect that any generation > 1 will imply a rollout.

[2018-09-09 14:38] mingfang opened #198 "Handle changes that will destroy and recreate the resource, rather than updating it in-place."
Some Kubernetes resource changes can not be updated in-place.

One example is when changing a service's type from type: ClusterIP to type: ExternalName.  Currently this change will result an error
[code]
The service must first be destroyed and then recreated.

[2018-09-09 15:05] joeduffy commented on #198
Ah, good find! The engine supports the notion of replacements, so we will need to enlighten the diff logic to mark this as needing a replacement (see https://github.com/pulumi/pulumi/blob/679f55c355eb1563d9f4ac5d34e6ddd2cc8de24e/sdk/proto/provider.proto#L103).

Is there any definitive source of which properties cannot be changed in place, across all resources? Even if it's just in the Kubernetes s

[2018-09-09 21:01] hausdorff commented on #198
@mingfang This should actually work, can I see the code for your service definition?

[2018-09-09 21:02] hausdorff commented on #197
Looking closer, it looks like the `extensions/v1beta1` version of the API doesn't seem to have a condition indicating that the rollout was complete. _sigh_

[2018-09-09 21:10] hausdorff opened #199 "Deleting the same resource with different API versions can fail"
When a resource (_e.g._, a `Deployment`) is given a hard-coded `.metadata.name` and the `.apiVersion` is changed (_e.g._, from `apps/v1beta2` to `apps/v1`), and but the new `Deployment` has an init error, and the user tries to just delete the resource altogether, we'll generate delete operations for both resources. But, it looks like Kubernetes considers them the same resource, so the same thing g

[2018-09-09 22:03] mingfang commented on #198
This is the test script
[code]

First I created it using type: "ClusterIP" and then I tried changing it to "ExternalName".
Here is the output with the error
[code]
The original resource was deleted but the replacement failed.
Note, this example only works with the awaiters disabled.

[2018-09-09 23:30] joeduffy commented on #198
Ahh, I wonder if services with explicit metadata names need to be marked deleteBeforeCreate. Cc @pgavlin @swgillespie

[2018-09-09 23:35] lukehoban commented on #198
Indeed, that was the proposal as part of the initial autoname implementation for kubernetes. I thought we had implemented that already.  @hausdorff.

[2018-09-10 00:06] hausdorff commented on #198
This should be implemented. It's definitely a bug. I'll look soon.

[2018-09-10 00:36] hausdorff opened #200 "`helm template --namespace` appears to do nothing"
This means that our template expansion does not respect the `--namespace` flag as we had hoped.

[2018-09-10 00:39] hausdorff opened #201 "We should pass the default `values.yaml` file into `helm template`"
It turns out that the default values are not carried along by the `template` command.

[2018-09-10 00:43] hausdorff opened #202 "`yaml.parse` should flatten `v1.List`"
`v1.List` is an undocumented Kubernetes resource that does not appear in the OpenAPI spec, but nevertheless is used, mostly by Helm charts. Just like we flatten YAML streams, we should flatten `v1.List` into its constituent parts -- which is how it works in both `kubectl` and ksonnet.

[2018-09-10 02:27] hausdorff opened #204 "`helm template` doesn't appear to sort resources"
This isn't a huge deal for many charts, but it's annoying for very complex ones, like the service catalog.

[2018-09-10 02:56] hausdorff commented on #198
@mingfang I can't reproduce this. I have transformed the first of the following API objects to the second, and the operation was successfully delete-then-replace'd. Three things:

1. Have I missed something in this change?
1. Can you post the result of `pulumi preview --diff`?
1. In the meantime, as a workaround, if you remove `.metadata.name`, we should autoname it. I'd be curious to see if this

[2018-09-10 03:03] hausdorff commented on #198
Oh interesting, as I was copying the log from @mingfang's output to demonstrate to @joeduffy that we are definitely deleting before replacement, I discovered that there is output hidden, cut off to the right. Scroll over to the right and you'll see the text:

[code]

Copied for posterity:

[code]

So what is happening is that we are claiming that the service was deleted, but it's not actually dele

[2018-09-10 03:54] mingfang commented on #198
It looks like there is no awaitDeletion for services, https://github.com/pulumi/pulumi-kubernetes/blob/88b4b4e81a611f145bcd4b07aa7c79542f5014d9/pkg/await/awaiters.go#L183

[2018-09-10 04:11] mingfang commented on #198
Just for testing, I used the pod's awaitDeletion, like this and sure enough that worked.
[code]
I think the 404 check is a common check for all resource deletions that can be refactored to use the same function

[2018-09-10 05:45] hausdorff commented on #198
@mingfang when you have a minute, if you can still reproduce the issue, I'd like to have you try out this PR: https://github.com/pulumi/pulumi-kubernetes/pull/203

[2018-09-10 05:55] mingfang commented on #198
I tested PR #203 and no longer see the issue.

[2018-09-10 06:31] hausdorff commented on #198
@mingfang Great! We'll merge that PR tomorrow sometime and cut the new release. Thanks!

[2018-09-10 18:14] hausdorff opened #205 "Helm re-generates secrets on every invocation of `helm template`"
This means that any time you run `pulumi up`, we'll get a new `Secret`. Worse, since these are not auto-named, this won't trigger a rollout of the relevant `Pod`s. This occurs frequently with things like auto-generated TLS certs.

This sucks. It would be nice to have something that allows us to parameterize secrets based on the Pulumi program/config. I'm not yet sure how to do this though...

[2018-09-10 20:56] hausdorff commented on #200
Ah, when @pgavlin and I chatted about this, we discovered that `--namespace` actually populates `.Release.namespace`. This makes sense for them, as they'll want to be able to manage multi-namespace Charts, but it's different from `kubectl`, where `--namespace` will simply put all objects that can be namespaced and are being `apply`'d, into some namespace.

We can close this.

[2018-09-10 20:56] #200 closed

[2018-09-10 22:18] #185 closed

[2018-09-11 19:19] swgillespie opened #207 "Can't refresh after scaling down deployment"
Repro steps:

1. `pulumi update` with this program:

[code]

2. Scale down to 2 replicas: `kubectl scale --replicas 2 deployment/<the deployment>`
3. Try and refresh:

[code]

[2018-09-11 19:20] hausdorff opened #208 "Error message for partial `Deployment` rollout could be better"
If a user does a `kubectl scale` to scale their app up, ` pulumi refresh` will error until the rollout is complete. In general we should write out "application in the process of a rollout" instead of the following:

[code]

[2018-09-12 00:49] #201 closed

[2018-09-12 00:49] #202 closed

[2018-09-12 00:49] #198 closed

[2018-09-13 14:25] captncraig opened #209 "Problem parsing kubeconfig when passed via "kubernetes:kubeconfig""
If I set `$KUBECONFIG` in my environment, then pulumi can find my cluster and things work fine.

But if I set `kubernetes:kubeconfig` in my stack's yaml, I get an error:

[code]

The first issue is certainly that it is [trying to parse the filename as a kubeconfig](https://github.com/pulumi/pulumi-kubernetes/blob/master/pkg/provider/provider.go#L131). That is almost certainly a bug. After that, I'

[2018-09-13 14:27] captncraig commented on #209
As an aside, I really like that I can set the kubeconfig in the stack's yaml because it lets us target different stacks to different clusters using only the files in the repo, so that's kinda nice.

[2018-09-13 18:54] hausdorff commented on #209
@captncraig ah, this is actually supposed to be the _contents_ of kubeconfig. So you'd do something like `pulumi config set kubernetes:kubeconfig < cat $KUBECONFIG`. I can see now how this would be confusing, though. Perhaps we should report this with a better error and expose a second variable, `kubernetes:kubeconfigFilename`?

[2018-09-13 18:58] hausdorff commented on #209
For more context: the reason this exists at all is so that we can, in a single Pulumi program, boot up EKS/AKS/GKE and then pass the YAML of the kubeconfig to the Kubernetes provider, so that it gets auto-configured. For example in the [AKS/helm example](https://github.com/pulumi/examples/blob/master/azure-ts-aks-helm/index.ts), we have something like this:

[code]

Basically what's happening here

[2018-09-14 02:56] captncraig commented on #209
Yeah, [the docs](https://pulumi.io/quickstart/kubernetes/setup.html) on that parameter definitely made me thing it was asking for a filename. But reading again I could see it either way. Yeah, a separate parameter for a file might be ok.

My use case was having a single project with multiple stacks for different tiers and clusters. Stacks like `guestbook-dev-ny`, and `guestbook-prod-co`. We also h

[2018-09-14 18:53] hausdorff opened #211 "Document await conditions"
When a resource is created, Pulumi will wait until it's fully initialized. These conditions are not documented anywhere, but people in the community have indicated this would be helpful.

[2018-09-14 19:02] hausdorff opened #212 "Document replacement semantics"
In many Kubernetes resources, updating a field will trigger a _replacement_. For example (assuming Pulumi is auto-naming the resource), changing `.data` in a `ConfigMap` will cause a new `ConfigMap` to be created, using the new `.data`, after which everything that references it will be updated to reference the version. Then, when rollout is complete, we delete the old version.

The process and sem

[2018-09-14 19:46] xmlking opened #213 "can i embed this lib into other nodeJS/Express app ?"
I want to build my one provisioning API using NodeJS/Express framework.
can I use this package in embedded mode with in other express App  without CLI ?

[2018-09-14 20:33] ellismg commented on #213
This is not something that is supported. The Pulumi Engine (which is part of the Pulumi CLI) is deeply involved in figuring out the operations to preform during a deployment and so it's not possible to use the JavaScript library without it present.

[2018-09-14 20:35] ellismg commented on #213
@joeduffy gives an overview of how the entire system works in this video: https://www.youtube.com/watch?v=YMAe59BYzm4.

[2018-09-15 00:16] protometa commented on #179
I was pretty surprised by the all the waiting for Kubernetes resources as well, it's definitely not the Kubernetes way, but I started to warm up to it and eventually came to depend on it. I no longer manually link my resources with common string tokens, I define them in one resource (or generate them on the fly) and have them passed up the dependency chain automatically. In that paradigm, if a ser

[2018-09-16 20:27] rudeland opened #214 "codegen for openshift/origin APIs?"
From the `Makefile`, I see that code generation is based on the openapi spec for the specified `KUBE_VERSION`.

There are a few custom objects in [Origin](https://github.com/openshift/origin) that aren't part of the Kubernetes api spec (Route, BuildConfig, etc).

Would support for Origin be achieved by simply pointing the codegen at the Origin openapi spec? I understand that would need to be a com

[2018-09-17 15:47] lukehoban commented on #214
I think (correct me if I'm wrong!) that @rudeland's original question here was just whether it would be possible for the `@pulumi/kubernetes` code generator to be pointed at the Origin API spec to create the wrappers for the additional resources defined there.

I believe the answer is yes.  These may need additional logic in awaiters and elsewhere to customize the behaviour.

The question though w

[2018-09-17 15:47] rudeland commented on #214
Understood. Thanks for that clarification!

[2018-09-17 15:51] rudeland commented on #214
Re-opening as @lukehoban commented exactly when I did. 😎

That was my original question, yes. I was curious if those APIs would just work wholesale. I was able to get `route.openshift.io/v1/route` to work, for example, with only a few slight modifications, but was wondering how quickly that would become unmaintainable.

[2018-09-17 22:52] casey-robertson commented on #142
Getting up to speed with the product - really cool but drinking through a firehose!  I'm attempting the gcp-ts-gke example.  Works great but I cannot get it to deploy to a namespace.  I tried hard-coding it into the index.ts file under spec:template:metadata.  Also tried to set a variable - pulumi config set kubernetes:config:namespace my-namespace.  Still deploys to default.  What am I missing?

[2018-09-17 23:27] casey-robertson commented on #142
Closer!  It at least now says:

`import * as k8s from "@pulumi/kubernetes";
import * as pulumi from "@pulumi/pulumi";
import { k8sProvider, k8sConfig } from "./cluster";

// Create a canary deployment to test that this cluster works.
const name = `${pulumi.getProject()}-${pulumi.getStack()}`;
const canaryLabels = { app: `canary-${name}` };
const canary = new k8s.apps.v1beta1.Deployment("canary", {

[2018-09-17 23:56] casey-robertson commented on #152
Sorry to be dense - how does one specify a namespace(s) to be created using Pulumi?

[2018-09-18 07:47] hausdorff commented on #214
To clarify, I do think you can adapt the codegen routines to generate a library for OpenShift, but it's not clear to me how hard it is to do.

Remember: it is difficult to use these codegen routines even between minor versions of Kubernetes, because the OpenAPI spec is so volatile. This is to say nothing of the transition to OpenShift, which is a different _project_.

One example: from Kubernetes

[2018-09-18 07:49] hausdorff commented on #214
@rudeland I think we can keep this open, it's something I expect we'll get asked about more, and we'll probably want to decide what we want to do. :)

[2018-09-18 16:58] hausdorff commented on #213
I think this is a reasonable scenario to support, and others have asked for similar things (_e.g._, allowing the CLI to emit JSON so other tools can consume it). I'd personally love to see something like this exist, but I'm not sure where in the roadmap it would fit just yet. @lukehoban @joeduffy , thoughts?

[2018-09-18 17:47] hausdorff commented on #152
@casey-robertson Something like this should work: https://github.com/pulumi/examples/blob/master/kubernetes-ts-sock-shop/index.ts#L13

[2018-09-18 21:48] xmlking commented on #213
Usecase  , someone went to build an App Store like kubeapps , and let users deploy predefined or custom  `Infrastructure as Code` snippets to a k8s cluster  via web UI and forms

[2018-09-19 19:52] carterwilliamson opened #215 "Add capability to redeploy helm charts without failure"
**Problem Statement**
Helm deployments cannot be deployed idempotently.

**Expected Behavior**
Re-running `pulumi up` on a stack with Helm charts should not fail if the chart already exists on the cluster. Alternatively this could be a flag/option.

**Current Behavior**
Re-running `pulumi up` generates errors like this...
`error: Plan apply failed: 1 error occurred: * secrets "alertmanager-kube-pr

[2018-09-20 07:09] hausdorff commented on #215
`pulumi up` should _never_ fail if it successfully created a resource before. In other words, this _should_ work if there are not two different `Secret`s that are named the same thing (_e.g._, if two charts try to create a `Secret` with the same name).

Unfortunately, the three Helm charts @carterwilliamson is using appear to have no name collision between any `Secret`s, so I think we can rule tha

[2018-09-20 15:09] joeduffy commented on #215
Rereading @carterwilliamson's bug description, I want to ask a clarifying question:

Did the Helm chart get installed through other means already, before running `pulumi up`? And what you're wanting is a way for the `pulumi up` to detect this, akin to a `helm upgrade --install`, instead of failing as it does today?

After rereading, particularly this part

I am suspecting this is what you meant, r

[2018-09-20 19:08] carterwilliamson commented on #215
I was able to reproduce with the following steps:
* Boot up AKS
* Pulumi.helm(prometheus-operator, kube-prometheus, grafana)
* Fails because prometheus-operator needs to be installed first
[code]
* Add `dependsOn: prometheus-operator` to grafana and kube-prometheus
* Run `pulumi up`
* This now fails because of existing k8s resources. (See output below)
[code]

[2018-09-21 18:00] hausdorff opened #216 "`Update` should fail if an object is marked `create` but the object already exists"

[2018-09-21 23:39] geekflyer commented on #200
question regarding k8s helm integration:
When I specify `namespace` on a chart via pulumi it seems this only populates the `Release.Namespace` template variable, whereas when running `helm install --namespace <namespace>` tiller seems to actively add an `metadata.namespace` entry before applying the templates to the cluster. Many charts unfortunately don’t have the `Release.Namespace` variable but

[2018-09-21 23:42] geekflyer commented on #200
Here's an example transformation that works for me:

[code]

[2018-09-21 23:45] hausdorff commented on #215
Talking to @carterwilliamson it looks like we can't reproduce this, even on his machine. We're going to watch closely in the next few days and if we catch it again I'll get into the cluster and take a look.

[2018-09-21 23:53] geekflyer opened #217 "helm: apply namespace default transformation"
When I specify `namespace` on a chart via pulumi it seems this only populates the `Release.Namespace` template variable, whereas when running `helm install --namespace <namespace>` tiller seems to actively add an `metadata.namespace` entry before applying the templates to the cluster. Many charts unfortunately don’t have the `Release.Namespace` variable but instead rely on the aforementioned tille

[2018-09-21 23:57] geekflyer commented on #200
created a dedicated gh issue for my request: #217

[2018-09-22 05:12] hausdorff commented on #217
To recap offline discussion, I am guessing that `helm install --namespace` does not work by rewriting the `.metadata.namespace` inside the API objects themselves, but instead by works by re-using client-go's implementation of the `--namespace` (which is what is used by `kubectl`). This approach is vastly simpler, because (1) there are a few gotchas in the rewriting approach, like the fact that man

[2018-09-22 06:56] hausdorff opened #218 "Consider allowing for delete of underlying PVC when StatefulSet is deleted"
The official client-go delete semantics for `StatefulSet` do not cause the underlying `PersistentVolumeClaim` to be deleted. This catches nearly all new users off-guard, and is only evident when they try to create more PVs, and provisioning fails because all the storage is taken up by these orphaned resources.

Some ideas on how to fix:

* Pulumi engine schedules a manual delete of the underlying

[2018-09-22 07:03] geekflyer commented on #218
I prefer 3. Might be worthy to think about naming it something other than "ReclaimPolicy" because that's strictly speaking just an attribute on a PV and not a StatefulSet or PVC and using the same name might confuse people, but I might be wrong.

[2018-09-23 00:04] lukehoban commented on #147
Is there anything we still plan to do here?  Sounds like we can't do the original suggestion, and have a workaround that is reasonable.

[2018-09-23 16:49] hausdorff commented on #147
@lukehoban This would be incidentally resolved by #162. We do have to do that work, though, and it is non-trivial.

[2018-09-23 16:49] hausdorff commented on #162
Let's be sure to resolve #147 as part of this.

[2018-09-23 17:01] hausdorff commented on #216
Looking at this again, we _do_ handle this case directly. The issue the user encountered was actually a different issue -- when the `Service` already exists but Pulumi doesn't know about it, and `ClusterIP` is not given, we will fail the `Check` because the API server thinks we're trying to change an immutable field.

What we _should_ do instead is to cause `Check` to error out if the object alrea

[2018-09-23 17:08] hausdorff commented on #205
It's not clear to me how we will fix this yet, or even if it's possible. I'm going to tentatively move to M19.

[2018-09-23 17:29] hausdorff commented on #214
I'm tentatively moving this to M19 since I don't think I have enough time to address it in M18. @rudeland if you happen to want to do this work for M18, I'm happy to facilitate/get on calls/review code. :)

[2018-09-23 17:42] rudeland commented on #214
@hausdorff that sounds like a plan. I'll do some homework and see how much API-breaking Origin does, too. :)

I imagine other people will ask about this, but to be honest I don't actually view it as that critical. OpenShift doesn't have THAT many unique objects, and it took me only a few minutes to amend the already-generated code for the 2 unique objects I actually use.

[2018-09-23 19:00] hausdorff commented on #213
Another use case we've heard from someone on the Istio team: exposing as an API allows us to wrap this up as an operator, which would allow them to manage dependencies between CRDs.

[2018-09-23 19:30] hausdorff opened #219 "Allow users to generate types from CRD schemas"

[2018-09-23 19:32] hausdorff opened #220 "Add an `others` field to args for `apiextensions.CustomResource`."
Currently the arguments is of type `{kind: string, apiVersion: string}`. This is intended to be a property bag with at least those two fields, but this ends up excluding any type that has more than just those fields. This forces users to do something like:

[code]

[2018-09-23 22:50] hausdorff commented on #136
This bug is somewhat related to #216 -- the overarching issue here is that we need to make sure to include whether a resource is being created, updated, or deleted, and whether an object with that name already exists, when we decide whether to undertake an operation against it.

[2018-09-24 04:56] hausdorff opened #222 "Retire the `watcher` package in favor of the client-go `watch` API"
The `watcher` package was originally modeled loosely so that we could contribute await logic to Terraform, if they wanted it, with a minimum of translational difficulties.

At this point the core tenants of our complex awaiters are so different that this goal now seems mostly hopeless. We should transition to simply using client-go's `watch` API, which is far more convenient to use.

Tasks:
- [x]

[2018-09-25 20:36] carterwilliamson commented on #215
Spitballing here but I think this may be a symptom of a different problem.
Installing prometheus-operator succeeds
[code]

Then followed with installing kube-prometheus fails with the error below
[code]

[code]
My guess is that this failed deployment causes the subsequent run to throw the errors related to pre-existing resources.

[2018-09-25 23:26] carterwilliamson opened #223 "Helm not correctly installing prometheus-operator chart"
Installing `prometheus-operator:0.0.29` then `kube-prometheus:0.0.105` results in
[code]
This error happens when `prometheus-operator` doesn't successfully install.
Using helm to install these charts works as expected.

The `prometheus-operator` chart installs via Pulumi by itself, but when trying to add the `kube-prometheus` chart the error above is thrown.

Confirmed this bug with @hausdorff

[2018-09-25 23:48] hausdorff commented on #223
Can reproduce, will fix ASAP.

[2018-09-26 00:07] hausdorff commented on #223
I think this is actually a problem with the Helm Chart itself:

* The Chart looks like it's using `.Capabilities` to automatically fill in the `apiVersion` of the `ServiceMonitor`.
* Since we're not using Tiller, we can't introspect on the API server's capabilities, and thus falling back to `monitoring.coreos.com/v1alpha1` as the `GroupVersion`.
* But, the version of the Prometheus operator we're

[2018-09-26 00:10] hausdorff commented on #223
Ok, using @carterwilliamson's exact code I am able to say this fully works on my machine. We could close this issue, but I'm curious to hear opinions on how we might make these sorts of things clear to the user? There is a high likelihood errors like this will cause the user to think this is a Pulumi problem, when really it's a Pulumi _and_ `helm template` problem. :) @lukehoban @joeduffy thoughts

[2018-09-26 02:03] lukehoban commented on #223
You mean that after applying the transforms this works, but the chart itself does not deploy correctly without this?

Is the same thing true if you just `helm install` outside Pulumi?  If so, worth reporting the bug on the chart. Also, what error does Helm/kubectl report for this?  Seems we should be reporting something morally similar. I wouldn’t be too surprised if it’s similar to what we alread

[2018-09-26 05:29] hausdorff commented on #223
No, it works with `helm install`, because `helm install` goes through Tiller, which has access to the API server's `.Capabilities`. If you were using `helm template` and `kubectl apply` you'd see the same error text as us, because we both use client-go.

[2018-09-26 05:35] hausdorff commented on #215
Hmm, I don't think that should result in the output above. That we're scheduling a create, _not_ marking that down in the checkpoint file, scheduling _another_ create, and then failing.

The only way I have ever seen this happen is if Pulumi gets interrupted catastrophically before the API server has time to report that creation succeeded.

Certainly something else could be happening here, but I v

[2018-09-26 05:35] #207 closed

[2018-09-26 05:35] #220 closed

[2018-09-26 06:51] hausdorff commented on #179
So to summarize, we've whittled @mingfang's objection down to one thing about the await logic, which is that they don't like waiting for `Endpoint`s when awaiting a `Service`.

To test the question of whether this is worthwhile, I have spent several weeks of deploying very challenging Kubernetes applications using Pulumi and paying close attention to whether this is useful The applications run the

[2018-09-26 06:54] mingfang commented on #179
@hausdorff Thanks for looking into this.  I don't want to waste your time.  I've decided to move on and use a different solution.  Please feel free to close this issue.

[2018-09-26 07:33] hausdorff opened #224 "Don't apply patch update for empty diffs"
When a resource fails to fully initialize when the Pulumi CLI exits, a subsequent run of `pulumi up` will typically result in an "empty" update.

This update still results in a patch between the two versions of inputs that have not changed, and the live object; the effect is to blank out computed fields. This is nearly never a problem, as the resource didn't initialize correctly anyway, so it does

[2018-09-26 20:56] lukehoban opened #225 "Cannot use custom resources with `getResource` from TypeScript"
The TypeScript typing has overloads for every known resource type, but does not have a user-visible overload that allows an arbitrary string. So although it's usable from JavaScript, the TypeScript compiler will complain about (e.g.):

[code]

[2018-09-27 09:01] hausdorff opened #228 "Allow for "adopting" existing resources"
Quoting from a user [on Slack](https://pulumi-community.slack.com/archives/C84L4E3N1/p1538029820000100):

The answer is no, but we probably should allow this, but I'm not yet sure what that should look like. @lukehoban @joeduffy, thoughts? I can put together a proposal, but it seems like if we're doing this elsewhere, we would probably benefit by making them similar.

[2018-09-27 09:08] hausdorff commented on #228
It seems like the basic semantics we want (in whatever the API ends up being) are:

* Keep track or the original, existing API object.
* Expose a `transforms` argument as we do in `helm.v2.Chart`.
* Every time we do `pulumi up`, `transforms` gets applied to the original API object -- the usual update/diff semantics apply, in that changing the `transforms` could trigger an `Update` if it results in

[2018-09-27 13:15] lukehoban commented on #228
See https://github.com/pulumi/pulumi/issues/1662.

[2018-09-27 14:54] joeduffy commented on #228
I think this can probably be closed as a dupe. Before doing that, however, I noticed Kubernetes resources don't seem to have static `get` functions on them. Why is that? This is an essential ingredient to even being able to do manual adoption. (I vaguely recall this being an issue in the past, but thought we resolved it ...)

[2018-09-27 15:11] hazsetata opened #229 "Problem with URL as a Helm chart repository"
### Problem

When trying to install a helm chart that is not in the "stable" Helm repository like this:
[code]

I got an error like this:

[code]

Looking into the code of "helm.js", the "fetch" method could handle the "opts.repo" option, but the constructor merges the repo + chart name like this: `${config.repo}/${config.chart}` and doesn't use that option.

### Workaround
Add the repository to t

[2018-09-27 15:12] hazsetata commented on #229
Using "@pulumi/pulumi": 0.15.3, "@pulumi/kubernetes": 0.17.0

[2018-09-27 17:42] hausdorff commented on #229
To recap the accompanying Slack conversation: this was not the intended semantics of the API, but I actually like this idea a lot, and we should consider implementing it for M18.

[2018-09-27 17:44] hausdorff commented on #228
It wasn't implemented because I didn't know we needed to implement it.

[2018-09-27 17:44] #228 closed

[2018-09-28 17:42] hausdorff opened #231 "Implement `.get` on Kubernetes resources"
This is a critical blocker for adopting existing Kubernetes resources.

[2018-10-01 00:12] joeduffy commented on #231
@hausdorff, I just ran into the need for this myself. Think it is coming soon?

[2018-10-01 18:02] hausdorff commented on #215
Ok, checking back in with @carterwilliamson it looks like this has not resurfaced. Given the extensive attention paid to this issue, I'm comfortable closing for now. Please feel free to re-open if you see it again -- very hopefully with both the plan and application output, as this will give us some important clues about the bug. :)

[2018-10-01 18:34] hausdorff commented on #216
Plot twist, we're actually scheduling this correctly. These symptoms are actually a manifestation of #224.

[2018-10-01 18:34] #216 closed

[2018-10-01 20:05] mazamats opened #232 "Not catching invalid pod spec"
If you create a pod spec that is invalid, pulumi won't catch it and will continue to apply it.
It appears the K8S API may also not validate this.

I am using javascript with pulumi version `v0.15.4`

Example Invalid Pod Spec: (`resources` and `volumeMounts` is scoped wrong)

[code]

Here is a diff showing the planned change, which succeeds when applying it.

[code]

[2018-10-03 22:05] hausdorff commented on #232
More importantly, this object is actually accepted by the API server, right?

[2018-10-03 22:14] hausdorff commented on #231
This will make it for M18, I'm looking right now.

But, this turns out to not be as trivial as I'd thought. Our implementation of `Read` turns out to be built on the assumption that every invocation contains the object itself. In `.get()` this is not the case.

So, @joeduffy, @lukehoban, a key question is: is there any situation in which a normal user can be using a `>= v0.18.0` node SDK with a `<

[2018-10-03 23:03] lukehoban commented on #231
No.  The post install step on the `@pulumi/kubernetes` NPM package should install the matching version of the Kubernets provider binary.

[2018-10-04 17:36] archisgore opened #233 "Nil pointer dereference when `pulumi destroy -r`"
I was running `pulumi destroy -r` because some of my resources were partly deleted and timed out.

Led to this:
[code]

[2018-10-04 17:41] hausdorff commented on #233
Fixed in https://github.com/pulumi/pulumi-kubernetes/pull/221

[2018-10-04 17:41] #233 closed

[2018-10-04 18:11] hausdorff commented on #233
Because this came up twice, we've cut `v0.17.1`. The release script is running now. Check back in about 10 minutes and should be able to use the fix.

[2018-10-04 18:12] hausdorff commented on #231
lol @daveremy, did you mean to say more? :)

[2018-10-04 19:06] daveremy commented on #231
Nope sorry, my phone seems to have a mind of its own, please disregard.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alex Clemmer <notifications@github.com>
Sent: Thursday, October 4, 2018 11:12:36 AM
To: pulumi/pulumi-kubernetes
Cc: Dave Remy; Mention
Subject: Re: [pulumi/pulumi-kubernetes] Implement `.get` on Kubernetes resources (#231)

lol @daveremy<h

[2018-10-07 16:13] slikk66 commented on #59
Vote for K8s python!

[2018-10-08 16:56] joeduffy commented on #162
@hausdorff Any progress on this?

[2018-10-09 17:35] mazamats commented on #232
@lukehoban yes it is

[2018-10-09 17:38] mazamats opened #234 "Invalid Service metadata annotations persist in stack state"
if pulumi fails to apply annotations to a k8s service, it wont recognize the annotation is gone when you run `pulumi refresh`

the `pulumi preview` diffs will show its still in the state, but the k8s api says otherwise.

Pulumi Logs, applying faulty annotation
[code]

The annotation in question, the value of `service.beta.kubernetes.io/aws-load-balancer-internal` should be a string, not a bool

[c

[2018-10-09 20:38] #225 closed

[2018-10-10 01:52] hausdorff commented on #224
So as I was writing a test case of this for #230, I realized that actually we're doing the right thing here -- it's _the Chart_ that has the bug.

Here's what's going on:
* For context, this issue comes to us from #215.
* If you try to deploy the kube-prometheus chart, and you update any of the `Service`s that are `type: ClusterIP` (_e.g._, `kube-prometheus`), the will fail because `spec.clusterIP

[2018-10-10 02:03] hausdorff commented on #224
cc @joeduffy @lukehoban

If you want proof that doesn't work with `kubectl` btw, run `kubectl create` the following `Service`, then change something trivial (the labels, say) and run `kubectl apply`. You'll see something like `The Service "my-service" is invalid: spec.clusterIP: Invalid value: "": field is immutable`

[code]

[2018-10-10 03:47] hausdorff commented on #224
@lukehoban @joeduffy I've gone ahead and submitted the fix for (1) to upstream: https://github.com/coreos/prometheus-operator/pull/1990

I'll look at adding a little bool run an optional `helm verify` check before submitting to the API server.

[2018-10-10 03:58] hausdorff commented on #224
`helm verify` won't work -- it only verifies that the chart has a provenance file. The best we can do is probably:

1. upstream fixes to popular and complex charts
1. wait for Helm 3, which will require these issues to be resolved upstream anyway
1. suffer through

I am going to go ahead and close this issue, since I don't think we have any more work to do here. Feel free to open it again if you h

[2018-10-10 03:58] #224 closed

[2018-10-10 19:57] hausdorff commented on #223
Per extensive discussion in #224, we've upstreamed the fix to the Helm Chart (coreos/prometheus-operator#1990). I don't think there's anything else for us to do to solve the acute pain of this issue, so I'm closing it for now. We have other issues to track more general aspects of this problem, like #196.

[2018-10-10 19:57] #223 closed

[2018-10-10 20:02] hausdorff commented on #232
This is an issue with Kubernetes core, and one they're currently working on, _cf_., https://github.com/kubernetes/kubernetes/issues/43347

I don't see any action for us to take, so I'm going to close this for now if there are no objections.

[2018-10-10 20:02] #232 closed

[2018-10-11 18:04] mazamats opened #235 "Can't update StatefulSet Pod Metadata"
When you add a label to an already deployed `StatefulSet` pod spec, pulumi will attempt to update instead of recreating the resource.

![](https://dropbox.azam.at/Screen-Shot-2018-10-11-at-12.01.22-PM.png)

[code]

[2018-10-11 18:34] hausdorff commented on #235
Our replacement logic is wrong. I'll fix it today.

[2018-10-12 21:37] lukehoban commented on #25
We long ago moved to a different approach to building this library which no longer has this problem - it can expose and target all version of the Kubernetes resources based on OpenAPI specs.

[2018-10-12 21:37] #25 closed

[2018-10-13 14:52] saada opened #237 "kubectl 'exec' and 'cp' equivalent"
I would like to be able to exec some code on-demand. This is especially relevant for use-cases where I want to use pulumi to build kubernetes operators.

# Proposed APIs

## `exec`

[code]

## `execStream`

[code]

## `cp`

[code]

[2018-10-14 10:06] geekflyer opened #238 "Helm: Cannot install local charts"
currently the helm integration always assumes the chart is in a remote repository. However it is not uncommon to simply specify a local chart path.
A prominent example for where this actually required is to install istio https://istio.io/docs/setup/kubernetes/helm-install/ because istio is currently not published to any chart repo.

Please add support to install a chart from a local directory or f

[2018-10-14 13:04] saada commented on #238
It could also use the same notation as Helm itself.
[code]

[2018-10-14 18:29] hausdorff commented on #238
It's a good idea, I'm hoping to get to it next week.

[2018-10-14 18:44] hausdorff commented on #237
I've been thinking a lot about this sort of thing too. I think it's super useful, but a key question for me is how this fits into the rest of Pulumi -- the rest of the SDK is highly declarative, and opening the door to imperative APIs that let you mutate existing resources is a huge leap, and one we should  consider carefully before committing to. I'll be playing with it more over the next couple

[2018-10-14 23:10] geekflyer opened #239 "Helm: resource ordering not working"
The helm implementation does some ordering in an attempt to deploy resources in a "more likely to work" order as implemented here: https://github.com/pulumi/pulumi-kubernetes/blob/master/sdk/nodejs/helm.ts#L109 .
Unfortunately this doesn't seem to work at all or have any effect on pulumis deploy order in practice. Resources get deployed in completely random order and it hence it fails.

The best w

[2018-10-14 23:54] geekflyer opened #240 "Add Istio to our nightly tests"
This is mostly related to #239 but I wanted to create a separate issue for istio in general due to the severity of problems I ran into and discuss whether there are other issues to create out of this.

In general I think istio is an excellent example of a non-trivial k8s application that pulumi should adopt as part of their test suite. Why? Istio uses helm, istio deploys more than 100 resources, i

[2018-10-15 00:09] lukehoban commented on #239
I believe this is more or less the same issue tracked in https://github.com/pulumi/pulumi/issues/1990, though I believe we will need some fix in the pulumi-kubernetes later to address this.

[2018-10-15 00:45] geekflyer commented on #239
Just read through #1990 .
Seemed to me the best way to address this would be:
1. Deploy all resources in a chart with max parallelism. Probably this isn't really a proper solution and in many cases like CRDs it will still require multiple `pulumi up` attempts.
2. Infer the `dependsOn` from the rendered manifests. This would be probably the best and most reliable solution but also requires the most

[2018-10-15 06:45] hausdorff commented on #239
Helm implements a topological ordering over `kind` rather than a total order over resources (which is what `dependsOn` is). This seems to be much, _much_ simpler to implement, and much closer to what we want anyway. Consider, for example, that Helm mandates that `Service` comes before `Deployment`; if a dependency ordering is captured with `dependsOn`, that pretty much guarantees all charts that h

[2018-10-15 07:09] hausdorff commented on #240
Thanks for opening the issue, 100% agree, we should fix this stuff. Istio has been on our radar for awhile anyway, and (1) and (3) are problems we've encountered from another big, important, complex chart as well (`kube-prometheus`), so we are actively discussing fixes for those.

(2) is one I've not heard before; if Helm does it we should probably support it too, even though I think this is not a

[2018-10-15 07:31] geekflyer commented on #239
I haven't really looked in detail at the pulumi helm code, but what I meant with inferring a dependency graph based on `kind` and setting the `dependsOn` could look like this in ts pseudo-code:

[code]

assuming we have 1 ServiceAccount (A), 2 Deployments (B,C) and 2 Services (D,E) this would create this resource graph:

https://mermaidjs.github.io/mermaid-live-editor/#/view/eyJjb2RlIjoiZ3JhcGggQl

[2018-10-15 07:42] hausdorff commented on #239
Kind of, except I'm saying that the order can't be strict even among kind. Services come before deployments in helm, so we basically need an order in which to issue the resource operations but without the requirement that they complete.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Christian Theilemann <notifications@github.com>
Sent: Monday, October 15, 2018 1

[2018-10-15 07:52] geekflyer commented on #239
Well yeah, ideally that would be the case, but this requires more modifications to the core engine I guess and more effort to implement. As a quick fix I think translating the kind order into a strict dependency graph is a good start.
The potential downsides of this approach I see are:
- potentially slow when deploying lots of different kinds, because the engine will await completion of all resour

[2018-10-15 07:58] geekflyer commented on #239
Oh, now I'm just realizing what you meant with Services come before Deployments in helm. That indeed is an issue. The reason is probably that some Deployments depend on other Services and their liveness / readyness probes won't even pass before that other Service is up.

[2018-10-15 16:45] hausdorff commented on #239
Yes, that's right. There could be circular dependencies, which implies a total order using `depensOn` will not work, and has a very high likelihood of breaking most Charts.

In the extremely short term, I think the best bet is to grant Kubernetes applications "unbounded" parallelism, so that all resources are submitted in parallel, but they don't have to wait for creation to continue. I believe th

[2018-10-15 17:58] hausdorff commented on #240
I'm moving the umbrella issue to M19. We'll try to get a quick fix in for _most_ Charts in the next day or two (I'm guessing we will do infinite parallelism), and then follow up with a series of fixes that solve the problems of the Istio Chart generally. I also suspect we will discover more issues than those listed here -- so we'll want to budget time for that.

[2018-10-15 17:59] hausdorff commented on #239
Moving this out to M19. See [this comment](https://github.com/pulumi/pulumi-kubernetes/issues/240#issuecomment-429952763) in #240.

[2018-10-15 18:02] hausdorff commented on #238
Let's move this to M19, and fix at the same time as #229.

[2018-10-15 18:05] hausdorff commented on #239
See also https://github.com/pulumi/pulumi/issues/1743. Solving this issue will probably involve solving that issue.

[2018-10-15 20:39] saada commented on #237
Thanks @hausdorff ... In the meantime, I created this: https://github.com/kubernetes-client/javascript/issues/124

[2018-10-17 00:17] hausdorff commented on #162
After some consideration, @lukehoban and I now believe that _any_ approach that requires any subset of `ChartOpts` fields to be `Input<T>` will break `preview`. We believe there is no remediation for this problem, and we believe this flaw is serious enough to not proceed with this feature.

Our reasoning:

* We need to call `pulumi.output` on `ChartOpts` before we shell out to the `helm` CLI in or

[2018-10-17 01:07] #136 closed

[2018-10-17 04:59] joeduffy commented on #240
I have updated the title. We should not only fix the underlying set of issues, but also aim to close out M19 with Istio actually harnessed and running in our nightly tests, so that we lock in the goodness.

[2018-10-18 07:23] geekflyer opened #242 "incorrect type signature: Cannot create CustomResources with `metadata.name` property"
This doesn't work:

[code]

fails with:

[code]

Seems like the typing of CustomResource is incorrect.

[2018-10-18 15:50] lukehoban opened #243 "Provide a way to configure timeouts"
From a slack conversation:

[2018-10-18 15:50] lukehoban commented on #243
We may also want to increase the default for `Service`?

[2018-10-19 18:57] hausdorff opened #245 "Cancellation on delete could cause us to stop tracking object"
Following up from #244, in the process of review, I realized that in a handful of cases, it is possible that ctrl-c during a delete could cause the Kubernetes provider to stop tracking the object, even though it exists.

The reason is that provider does not actually check whether the returned value conforms to `await.InitializationError`, which is what the `await` package uses to signal that the A

[2018-10-19 19:20] hausdorff commented on #242
@geekflyer Have a fix, will release today.

[2018-10-21 06:08] #158 closed

[2018-10-21 06:08] #195 closed

[2018-10-22 19:08] hausdorff commented on #197
We've punted this out because, looking at it now, I'm not actually sure this is a bug. We filed it before #199, which seems likely to be the real problem.

[2018-10-22 19:31] hausdorff commented on #194
Fixed with https://github.com/pulumi/docs/pull/621

[2018-10-22 19:31] #194 closed

[2018-10-22 21:08] #242 closed

[2018-10-23 19:44] protometa opened #248 "Headless Service for StatefulSet hangs on create/update "Finding Pods to direct traffic to""
Headless service required for StatefulSets with appropriate label selectors and `clusterIP` set to `"None"`tries to wait for pods. Workaround is to abort the create, do a refresh, and then subsequent updates are ok.

[2018-10-24 03:25] mrbrownt opened #250 "Helm install order doesn't work with complex installs"
Pulumi watches for various resource to reach a state of readiness before moving on to the deploying the next reference set in a deployment. This doesn't seem to work so well with helm. When deploying the stable/wordpress chart pulumi hangs waiting for services to become ready before any pods are deployed.

https://github.com/pulumi/pulumi-kubernetes/blob/603e3e7a2be1b0915d6125aab312fd07e1ff6cb3/sd

[2018-10-24 07:06] hausdorff commented on #250
What version of Pulumi are you running? The most recent version should be spawning all resources at once, which _should_ obviate the problem.

[2018-10-24 23:08] hausdorff opened #252 "ctrl-c orphans resources or doesn't register init error"
This was resolved by #251. From the commit message:

[2018-10-24 23:09] hausdorff commented on #252
This was initialized in v0.17.2 and fixed in v0.17.3.

[2018-10-24 23:09] #252 closed

[2018-10-25 16:54] lukehoban commented on #213
I think this is largely going to be enabled as part of https://github.com/pulumi/pulumi/issues/496.  By allowing the CLI to be invoked and used with `--json`.

We may at some point offer SDKs that wrap this (or statically link in the engine) - but I suspect that will be longer term once we better understand the desired API for those SDKs.  In the nearer term scripting the CLI should be sufficient

[2018-10-25 16:54] #213 closed

[2018-10-25 17:21] mrbrownt commented on #250
v0.16.1

[2018-10-25 22:17] hausdorff commented on #59
Plot twist, I'll kick this off by adding the tweaks to emit Python 2.7.

[2018-10-25 22:33] hausdorff commented on #250
@mrbrownt can you try `v0.17.3` and let me know how that goes?

Also, we're planning to address this in the next couple weeks -- this work is tracked in #239, so can you chime in there if v0.17.3 doesn't give a good experience?

I'll close this as a duplicate in the mean time.

[2018-10-25 22:33] #250 closed

[2018-10-29 18:16] #238 closed

[2018-10-30 17:47] hausdorff opened #254 "YAML causes replacement because of platform-specific newlines"
If a user deploys Kubernetes YAML on macOS and then deploys the same YAML on Windows, the component resource is replaced, because of platform-specific newlines. Preview looks like this:

[code]

[2018-10-31 21:50] lukehoban opened #255 "Chart `version` should be optional"
Helm does not require a version to be specified when installing a chart.  `helm.v2.Chart` should mark `version` as optional.

Note that this can be worked around by passing `version: <any>undefined`, since it is just an issue in the TypeScript typing not the JavaScript implementation.

[2018-11-01 04:05] geekflyer opened #257 "Helm: Allow installing charts simply by providing a fully qualified URL"
With regular helm I can install charts without adding their corresponding custom chart repository first.
I.e.  this is valid helm usage: `helm install https://jupyterhub.github.io/helm-chart/jupyterhub-0.7.0.tgz --namespace jupyter --set proxy.secretToken=foobar` works.

The way how pulumi expects parameters to be passed it is currently always necessary to add a repository manually outside of pulu

[2018-11-01 04:05] geekflyer commented on #257
related issue #229

[2018-11-02 17:35] swgillespie opened #258 "Python: Auto-generate camel case mapping table from OpenAPI spec"
https://github.com/pulumi/pulumi-kubernetes/pull/256 embeds two tables in the `pulumi_kubernetes` package that make a bijective mapping of "kubernetes case" to "snake case" - used to translate input properties to and from snake case when projecting them into Python. This table was auto-generated in an ad-hoc manner when bringing up https://github.com/pulumi/pulumi-kubernetes/pull/256, but we shoul

[2018-11-02 21:48] hausdorff commented on #239
After some consideration, we now believe this can be solved with some relatively simple changes in the Kubernetes provider and the Helm SDK. Quoting from https://github.com/pulumi/pulumi/issues/1990#issuecomment-435517052:

[2018-11-05 19:14] eshamay opened #261 "Already-existing resources instantiated by helm charts are causing errors instead of acting as an upgrade/no-op"
My Pulumi code includes the following resources:

[code]

The EKS cluster creates a ServiceAccount names `aws-node`, and that same service account is also declared in the Helm chart.

The expected behavior is that the ServiceAccount in the helm chart deployment would act as an `upgrade` or no-op and would not cause an error.

The actual behavior is that `pulumi up` is failing as follows:

[code]

[2018-11-05 22:18] hausdorff opened #264 "Allow a model similar to `kubectl apply -f`"
In Kubernetes it is somewhat common to use {`kubectl apply -f`, `kubectl patch`, _etc_.} to update system resources after they have been created. For example, to update default `ServiceAccount` roles in an EKS cluster after it's been created. (_cf_., [this community issue](https://github.com/pulumi/pulumi/issues/1691).)

There isn't really anything like this in Pulumi. We offer `.get` to retrieve

[2018-11-05 22:21] hausdorff commented on #264
Another idea is to call it `.patch` instead of `.update` and keep track of the current patch instead of the whole object.

Also worth noting that we probably don't want to expose `update` on any old `CustomResource`, but really just the ones we're returning from `.get`.

[2018-11-05 22:34] hausdorff commented on #261
Suggesting @pgavlin for this, as he maintains the EKS package. :)

[2018-11-06 05:55] #239 closed

[2018-11-08 18:16] lukehoban commented on #59
We should also add test coverage.

[2018-11-13 00:28] hausdorff commented on #240
Ok, we're getting close, I think. Here are the outstanding issues that we're in the process of resolving:

- [ ] **Allow our caching discovery client to invalidate caches after CRD creation.** Because client caches once per engine invocation, if we boot up a CRD and a CR in the same program, the client does get updated, which causes CR creation to fail.
- [ ] **Account for finalizers in delete pat

[2018-11-13 17:10] jam13 opened #268 "Ingress without load balancer never completes"
I am using Traefik for handling k8s ingress. which creates resources like this:
[code]

The ingress is being created successfully using the helm method, however pulumi never completes as it seems to be awaiting a load balancer status that will never appear.

https://github.com/pulumi/pulumi-kubernetes/blob/2efb314c64218897bb88895bc468e7c231c8ee88/pkg/await/awaiters.go#L542-L554

I there any workar

[2018-11-13 17:42] jam13 commented on #268
Sorry, just realised that traefik was not fully configured. Added a missing configuration option and it now adds itself correctly as a load balancer in the ingresses that it handles.

[2018-11-13 17:42] #268 closed

[2018-11-13 22:22] houqp opened #269 "how to recover from failed deployment?"
A deployment can fail at creation time due to typos in config:

[code]

When this happens, there is no way to recover. After fixing the k8s config and run `up` again, it will throw the following error:

[code]

Looks like the failed deployment is no recorded in pulumi? I had to manually remove the failed deployment in k8s to move forward. Is this expected?

[2018-11-13 22:45] lukehoban commented on #269
@hausdorff any idea why this would happen?

[2018-11-14 00:48] hausdorff commented on #269
This was broken in 0.17.3 and fixed in in 0.17.4. Please update your `@pulumi/kubernetes` dependency in your app's package.json.

[2018-11-14 00:50] houqp commented on #269
weird, this is what i have in package-lock.json:

[code]

[2018-11-14 00:51] houqp commented on #269
Is there an easy way to dump all the versioning debug info for you?

[2018-11-14 01:44] lukehoban commented on #269
Re-opening based on the versions @houqp seems to be using.

[2018-11-14 02:55] hausdorff commented on #269
@houqp that should be sufficient.

This is very odd, when you ran it the first time did it display any other error messages?

[2018-11-14 03:00] hausdorff commented on #269
I just tried to reproduce, but did not encounter this failure.

[2018-11-14 03:02] hausdorff commented on #269
Oh, I see what's happening here. When Matt released 0.17.4, he cherry picked in the recent commits. He did not release these ones.

I'll make a new release right now that _does_ fix this.

[2018-11-14 03:58] houqp commented on #269
Good to know, thanks for the quick turnaround time!

[2018-11-14 05:09] lukehoban commented on #59
I believe this is done now - including tests.  Closing out.  Feel free to open new issues if there is follow up Python work to do.

[2018-11-14 05:09] #59 closed

[2018-11-14 17:02] lukehoban opened #272 "Update `guestbook-py` example to include full Guestbook"
The `guestbook-py` example is just a placeholder currently - we should update it to include a full working example of the Guestbook for test coverage.  We should also put a copy of this in the https://github.com/pulumi/examples repo.

[2018-11-14 17:06] swgillespie commented on #272
I've got about half of this done already - once https://github.com/pulumi/pulumi-kubernetes/pull/266 works it will be a lot easier to add more Python tests such as guestbook to this repo.

[2018-11-14 22:13] pgavlin commented on #162
Fixed in #241.

[2018-11-14 22:13] #162 closed

[2018-11-14 23:56] hausdorff commented on #240
Ok, I'm marking the two items from my last comment off -- with #271, Istio does not (on my machine) error out during install or uninstall. I am guessing we'll be running into more bugs as I have time to explore the entire parameter space of the Istio helm chart, but for now I think we've made significant progress on @geekflyer's point (3)

For (2) I haven't decided if we should allow duplicate key

[2018-11-15 19:15] mrbrownt opened #277 "Ingress creation error"
I'm having an issue with pulumi not progressing past ingress creation.

The ingress resource is created and within GKE reports as working. I'm also able to reach the host that's setup without issue.

Pulumi times out waiting for Ingress to be created:
[code]

The resource created in k8s:
[code]

I'm running
pulumi cli: v0.16.4
pulumi lib: v0.16.3
pulumi-kubernetes: v0.17.5

[2018-11-16 20:17] hausdorff opened #281 "Refactor client/pool into a single struct"
In the provider and the await package we pass around a discovery client and a client pool so that we can perform and await operations, and get things like `Event` to produce diagnostic information on the error path.

This has become cumbersome, resulting in a lot of duplicated logic, and I propose to merge these into a single struct that makes these common cases simple. The main benefit is that we

[2018-11-16 20:20] hausdorff commented on #281
As @lblackstone points out, this may involve upgrading client-go: https://github.com/kubernetes/kubernetes/pull/62913

[2018-11-18 20:03] lukehoban commented on #197
@hausdorff What's the current plan for this and #199?  Are they the same issue?  Is there a fix we know we'll take in M19?

[2018-11-18 20:06] lukehoban commented on #183
Let's see if we can update to latest in M19, and try to establish an ability to update regularly so that the newest Kubernetes features are always available from Pulumi.

[2018-11-18 20:19] lukehoban commented on #245
@hausdorff How serious is this in practice?  Have users hit this?  Do we need to make sure to fix in 0.19?

[2018-11-19 09:18] geekflyer opened #285 "can't install prometheus-operator chart"
chart: stable/prometheus-operator
version: 0.1.22
values: {} (default)

Hi it seems impossible to install the prometheus operator chart - I'm getting multiple errors that won't go away even after multiple attempts:

code:
[code]

error:
[code]

It seems that it attempts to create multiple services but no matching deployments / daemonsets.
I also got in some cases an error that "a resource does not

[2018-11-19 18:20] hausdorff commented on #197
I don't think this is a bug. Let's close.

[2018-11-19 18:20] #197 closed

[2018-11-19 18:20] hausdorff commented on #245
This is very minor, you'd have to get very unlucky. But, we should solve it, let's put it into 0.20

[2018-11-19 18:50] lblackstone commented on #93
Ingress is in progress in #283
Job and StatefulSet will likely get bumped to M20

[2018-11-19 18:54] lblackstone opened #287 "Implement incremental update for Ingress"
Subtask for #93

[2018-11-20 00:29] hausdorff commented on #240
Ok, we're now making significant progress. For @geekflyer's (2), we've decided to go ahead and conform to Helm's YAML parsing semantics. This is the final provider-level blocker, so in tandem I've put a WIP example for Istio [here](https://github.com/pulumi/examples/pull/184). We've tested this with a variety of settings so we have some confidence that this will work for normal users.

[2018-11-20 17:06] lblackstone commented on #277
@mrbrownt I just took another look at this, and I think the problem is that the Ingress resource doesn't have a value for `.status.loadbalancer`. The await logic in the provider expects something along the lines of
[code]

[2018-11-21 02:03] #287 closed

[2018-11-21 15:59] mrbrownt commented on #277
I've been using [traefik](https://traefik.io/) as my ingress for k8s, at the current time all of my ingresses using traefik have:
[code]

[2018-11-21 16:39] lblackstone commented on #277
@mrbrownt Ah, it looks like traefik doesn't populate that status by default. You can configure it to do so with the [ingressEndpoint config setting](https://docs.traefik.io/configuration/backends/kubernetes/). If you deploy the traefik controller with Helm, you could set the value here: https://github.com/helm/charts/blob/master/stable/traefik/values.yaml#L47-L51

[2018-11-21 17:11] lblackstone commented on #277
I'm going to create some more Ingress examples, but for now, the following pulumi snippet would install the traefik-controller with the proper config for k8s:
[code]

[2018-11-21 17:40] lblackstone opened #290 "Update Ingress awaiter status message to be more clear on the success condition"
As seen in #277, the reported status/errors for Ingress creation are not clear about the success conditions. Update the status message to clarify, and add a warning to check ingress-controller configuration (traefik does not set the expected status by default).

[2018-11-21 19:45] skurfuerst commented on #42
seems to be the same issue as #29

[2018-11-21 19:46] skurfuerst commented on #29
Would be awesome; this would allow use cases like using Pulumi together with Linkerd2 (which takes the YAML and adjusts it to add sidecars).

[2018-11-21 19:50] skurfuerst commented on #42
Actually, I'd *love* to write my Kubernetes deployments using type-safe TypeScript; and then generate kubernetes yaml files (which I check into git and deploy via CI/CD).

Currently Pulumi seems very very tied to its state files, right? I understand that for other kinds of resources (AWS etc) there is no way around that; but as far as Kubernetes goes, I do not want to use an extra state repository

[2018-11-21 20:08] #255 closed

[2018-11-21 20:08] #229 closed

[2018-11-21 20:08] #257 closed

[2018-11-21 22:56] #97 closed

[2018-11-21 23:01] swgillespie commented on #272
Moving this out to M20, https://github.com/pulumi/pulumi-kubernetes/pull/288 is almost ready to land but is suffering from some infrastructure problems that we'll need to work around. The example does work, so we can be confident in this example for M19.

[2018-11-22 00:42] lukehoban commented on #272
@hausdorff Think you can push this over the line for M19?  Would love to have this test in place since Python support for Kubernetes was a key feature we delivered this milestone.

[2018-11-24 03:11] hausdorff commented on #254
It's worth pointing out that this is actually two instances of the same problem, which is that platform-specific newline characters end up in the state when instead they should be normalized first. One of these instances happens in the YAML bits of the pulumi-kubernetes package, and is therefore in scope for this issue; another is the same issue, but in the dynamic provider, which we'll have to tr

[2018-11-24 08:50] hausdorff commented on #254
I'm going to move this to M20 -- we should definitely fix it, but I think we need to step back and look at this issue for Pulumi generally. Anyone on the team, feel free to put it back in M19 if you think we can/should do it.

[2018-11-24 08:56] hausdorff commented on #272
I'll give it a shot. It seems like we _should_ be able to tell guestbook how to connect to the master with the downward API, but I won't know until I try.

[2018-11-24 10:34] hausdorff opened #295 "Dev versions are not correctly published"
When we install dev versions of pulumi-kubernetes, Pulumi claims it can't find the Kubernetes provider. The root reason follows.

When we publish on [npm](https://www.npmjs.com/package/@pulumi/kubernetes), we have started a new versioning scheme. We publish to versions like [`v0.17.6-dev.1542840985`](https://www.npmjs.com/package/@pulumi/kubernetes/v/0.17.6-dev.1542840985), where previously we wou

[2018-11-25 23:11] joeduffy commented on #183
@lblackstone Something you can look into, to help load balance @hausdorff?

[2018-11-25 23:16] lukehoban commented on #183
This is in progress in https://github.com/pulumi/pulumi-kubernetes/pull/293.

[2018-11-25 23:30] joeduffy commented on #183
Ah great - did not see that, glad this is landing soon!

[2018-11-26 05:01] ellismg commented on #295
We fixed this in the CLI with this PR https://github.com/pulumi/pulumi/pull/2239, which was adopted to allow these sorts of versions to be loaded.

You should be able to install a dev build of the CLI (e.g. `curl -L https://get.pulumi.com/ | bash -s -- --version 0.16.6-dev.1542849043`) and pick up the fix.

[2018-11-26 05:01] ellismg commented on #295
Going to close this since the problem was in the CLI and as far as I can tell it has been fixed.  If installing the above version of Pulumi does not resolve the issue, please re-open.

[2018-11-26 05:01] #295 closed

[2018-11-26 05:03] lukehoban commented on #295
Should we publish a patch release of the CLI so that a released CLI works with dev builds?  That’s a reasonably common scenario for users, and much more common/easy to depend on dev packages than on a dev CLI.

[2018-11-26 18:39] hausdorff commented on #285
Ok, talking to @geekflyer, I think this is likely to be solved -- I'll close for now. If you run into more issues, please feel free to re-open.

[2018-11-26 18:39] #285 closed

[2018-11-26 18:47] hausdorff commented on #240
I've worked with several users (including @geekflyer) to make sure this works for them, so we have some confidence we're getting to the right place.

Let's moving out the "write custom CRDs" bit to a new issue -- this is really outside the testing umbrella.

For the last remaining issue of writing tests:

* We have successfully created a Pulumi app that will boot a testing/CI cluster. We've put th

[2018-11-26 20:30] hausdorff opened #298 "Migration strategy for URNs whose group name changes"
The Kubernetes OpenAPI spec regularly changes the names of groups, _e.g._, `apiregistration` -> `apiregistration.k8s.io`. This is unfortunate because it causes us to change our URNs.

We should develop an aliasing strategy so that we can keep URNs up-to-date without breaking everyone using them.

A couple options off the top of my head:

* Maintain a table of mappings from group name -> "URN group

[2018-11-26 22:02] hausdorff commented on #183
Fixed with #293.

[2018-11-26 22:02] #183 closed

[2018-11-27 17:02] lblackstone opened #300 "Implement incremental update for StatefulSet"
Subtask for #93

[2018-11-27 18:35] lblackstone opened #301 "Auto-generate container names"
It seems like we could also auto-generate the name field in the `core.v1.Container` type, similar to #103

[2018-11-27 19:30] lblackstone opened #302 "Provider got into a weird state when GKE cluster was deleted out-of-band"
I created a GKE cluster with Pulumi, but that cluster was later deleted out-of-band (not using Pulumi). Running `pulumi up` on that stack took a long time, and eventually returned an erroneous update plan:
[code]

Running `pulumi destroy` failed with the following errors:
[code]

[2018-11-27 20:21] lblackstone opened #303 "Circular dependency between Service and StatefulSet with auto-name"
I hit a circular dependency with the Service awaiter when I was creating a Service + StatefulSet.

Here's the offending code:
[code]

The problem is that the Service was stuck waiting for pods, but the StatefulSet was waiting for the Service so that it could set the `serviceName`.
https://github.com/pulumi/pulumi-kubernetes/blob/bd7765d3b51d47c057114cb17aeb57091fe1ff63/pkg/await/core_service.go#L2

[2018-11-27 20:37] lblackstone commented on #302
Ah, that's probably right. I thought I had run a refresh, but command history reveals that I did not. I already deleted the stack, so I can't test for sure.

[2018-11-27 22:31] hausdorff opened #304 "Emit explanation when Pulumi is configured to orphan dependencies during deletes"
The Kubernetes [garbage collection][gc] allows users to customize if, and how, a delete is cascaded through its child resources. For example, when deleting `Deployment` we can pass `propagationPolicy: "Orphan"` to specify that we should delete the `Deployment` and _not_ the `ReplicaSet` or `Pod`s that it manages. This can also be set to `"Foreground"`, which will delete all children before deletin

[2018-11-27 22:41] lblackstone opened #305 "Add APIs for label-based .get calls"
Kubernetes manages most resources by using labels/selectors. It would be handy to include APIs so that Pulumi resources can use `.get()` calls to reference labeled resources in this way.

A motivating example is a `StatefulSet` with associated `PersistentVolumeClaim`s. Neither object has a direct reference to the other, but they will always have matching labels that we could query.

[2018-11-29 03:15] #290 closed

[2018-11-30 00:00] hausdorff commented on #91
We have decided to adopt a fairly staid style for our docs, so we are going to close this out.

[2018-11-30 00:03] mehzer commented on #91
What does this even mean?

On Thu, Nov 29, 2018 at 4:00 PM Alex Clemmer <notifications@github.com>
wrote:

[2018-11-30 00:04] mehzer commented on #91
I don't understand why this is being closed, so I'm reopening.
What is the documentation plan on IO for Kubernetes? cc @lukehoban

[2018-11-30 00:50] hausdorff commented on #91
I just mean there will not be a marketing "pitch" page in the .io site -- the scope of the docs is on how to make users successful when they use Pulumi, rather than to pitch them that they _should_.

This does not obviate the need for a nice pitch in other places (_e.g._, .com), of course -- it only reflects an acceptance of the belief that we need to change our docs to be more focused on this spe

[2018-11-30 03:10] joeduffy commented on #91
What do you think about a cloud-specific "Why Pulumi?" page? Kind of like https://pulumi.io/reference/vs/index.html, but describes -- in technical terms -- why you would choose Pulumi for Kubernetes, AWS, GCP, ...

@hausdorff, you have (rightfully) said before that landing on pulumi.io is under-whelming for Kubernetes, even if you land on code (which currently you do not by default). Although I ag

[2018-11-30 19:39] hausdorff commented on #240
Alright, we have a good start on the tests, but I realized yesterday that, because we can't have multiple instances of Istio running on a cluster, we will actually have to boot an entire GKE cluster every time we deploy it. This _shouldn't_ be hard but so far it's pretty fiddly and I don't know what I don't know, so I am not sure how to make an accurate time estimate.

[2018-11-30 20:43] lukehoban commented on #240
As a first step, could we just run this test in a nightly run?  That should be easy to set up, avoid the parallelism issue, and still get us some coverage in the near term until we can do the work to create an entire cluster as part of each test.

[2018-12-01 17:52] joeduffy commented on #272
@hausdorff Did you mean to close this as part of https://github.com/pulumi/pulumi-kubernetes/commit/1d8daf7bd10d2cb500c9902aa7f5b23a634ffbd1?

[2018-12-01 22:54] hausdorff commented on #272
@joeduffy Oops, I did, yes.

[2018-12-01 22:54] #272 closed

[2018-12-02 01:31] hausdorff commented on #240
Success. We're building a GKE cluster and deploying Istio to it. The test conditions need to be fixed, but the hard part seems to be over: https://travis-ci.com/pulumi/pulumi-kubernetes/builds/93263424

The PR will be up shortly.

[2018-12-02 06:22] hausdorff opened #308 "Missing API server results in slow `pulumi up`"
If the Kubernetes API server is not located at the address defined in the kubeconfig file, we will time out waiting for a response, for every resource. This really slows down `pulumi up`. It would be nice to display an intermediate status instead.

[2018-12-03 18:53] hausdorff commented on #240
Closed with #102.

[2018-12-03 18:53] #240 closed

[2018-12-03 21:19] hausdorff commented on #18
@joeduffy do you still think this is worth doing?

[2018-12-03 21:20] hausdorff commented on #29
@skurfuerst That's an interesting use case, but I think you can still do that with the `yaml.ConfigFile` transforms API?

[2018-12-03 21:25] #52 closed, assigned to hausdorff

[2018-12-04 06:57] hausdorff opened #312 "Shorten the number of steps to run `pulumi up`"
As I was testing `StatefulSet` I realized that my default when I want to "just try" something is to:

1. Copy a bit of YAML into a file.
1. `kubectl apply -f`

rather than to (_e.g._):

1. Run `pulumi new`.
1. Copy a bit of YAML into a file.
1. Write `k8s.yaml.ConfigFile` for that file.
1. `pulumi up`

It would be great to make it as easy to use Pulumi as it is to use `kubectl`. Some ideas off the

[2018-12-04 21:44] lblackstone opened #313 "Improve error messages for StatefulSet awaiter"
See https://github.com/pulumi/pulumi-kubernetes/pull/307#discussion_r238553723

Specifically, change the following:

`"Failed to observe the expected number of ready replicas"` -> `"x out of y replicas succeeded readiness checks"`

`".status.currentRevision does not match .status.updateRevision"` -> `"StatefulSet controller failed to advance from revision %q to revision %q"`

[2018-12-05 03:58] hausdorff opened #314 "`.get` does not work with first-class providers"
Ideally we'd like to be able to do something like:

[code]

Instead, you must do something like this:

[code]

As I understand it this was already fixed in TF bridge. We should fix it here too.

[2018-12-06 18:54] gregbacchus opened #315 "Literal Types"
Would it be possible to use Literal Types for things like `apiVersion` and `kind`?

e.g.
[code]

This will help with intellisense and static checking. As it would stop things such as the following being valid:

[code]

[2018-12-06 21:40] WonderPanda commented on #277
@lblackstone Hey sorry to jump on a closed issue but I'm currently running into the same problem. I had originally been manually creating all the Kubernetes resources required for a Traefik ingress but after seeing this I've tried switching to using the Helm snippet you provided. Even after that I'm still running into the `Ingress .status.loadBalancer field was not updated with a hostname/IP addre

[2018-12-06 22:19] lblackstone commented on #277
@WonderPanda When I tested it (locally using Docker-for-Mac k8s), both the ingress controller and Ingress resource were in the default namespace.

It's possible that the default RBAC settings in the Helm chart are preventing the controller from setting the status field cross-namespace, but I'm not sure. I don't have much experience with Traefik, unfortunately.

I'd suggest trying with both in the

[2018-12-07 01:30] hausdorff commented on #315
OTOH, `new apps.v1.Deployment` is nice because it's easy to see _where_ the resource registration occurs. This makes the model very declarative, while if it was implicit with something like `const deployment: apps.v1.Deployment = {...}` it's not super clear where/when the resource registration would occur. It would have to be done implicitly somehow when the correct object is built up? So that's a

[2018-12-07 14:47] lukehoban commented on #261
The specific issue that @eshamay raised here is addressed now via https://github.com/pulumi/pulumi-eks/pull/19.

The broader question of whether it should be possible to declare resources that already exist and have that take ownership of them and drive them to new desired states is generally part of https://github.com/pulumi/pulumi/issues/1662.

[2018-12-07 14:47] #261 closed

[2018-12-07 20:01] WonderPanda commented on #277
@lblackstone Thanks for the quick reply! I ended up figuring things out, turns out I had just forgot to update the type of my service so it was defaulting to ClusterIP instead of NodePort

[2018-12-07 20:07] lblackstone commented on #277
@WonderPanda Glad you figured it out! Would you mind opening an issue with a few more details on what you had to change to get it working? That might be something we could check for in the provider logic in the future.

[2018-12-10 23:24] mrbrownt opened #316 "Field is immutable error when Helm updates jobs"
I'm deploying Consul and Wordpress via helm, both of these charts use jobs to test the deployment. When running a new deployment Pulumi is issuing an update to the job definition and k8s responds with a field is immutable warning. This should be fixable by using a replace.

[2018-12-11 00:53] lblackstone commented on #191
Working on cleaning up the Deployment awaiter, so this won't be done before M21

[2018-12-11 00:53] lblackstone commented on #208
Working on cleaning up the Deployment awaiter, so this won't be done before M21

[2018-12-11 00:54] lblackstone commented on #133
Working on cleaning up the awaiter logic, so this won't be done before M21

[2018-12-11 00:55] lblackstone commented on #222
Working on cleaning up the awaiters, so this won't be done before M21

[2018-12-11 02:54] CyrusNajmabadi commented on #315
@hausdorff I think the recommendation is *not* to use interfaces over classes.  rather, it is about more tightly typing the types of the *properties*.  i.e. instead of:

[code]

Define things as:

[code]

This then gives intellisense/error-checking when you pass an invalid value. This is def possible, and something we do in other repos.

[2018-12-13 18:00] jam13 opened #317 "Ingress error with ExternalName Service"
I am creating an Service of type ExternalName along with an Ingress that uses it like this:
[code]

Both are created correctly, and it works as expected (all incoming traffic to *.example.com is proxied to an S3 bucket), however Pulumi hangs with this error:
[code]

It appears that it's not considering Services of this type as a valid target.

[2018-12-14 00:05] lblackstone commented on #317
Yes, this appears to be an oversight in the provider code. I'll get this fixed shortly.

[2018-12-14 00:11] lukehoban commented on #315
That is how I interpreted the request as well initially, but on re-reading, I'm actually not sure which of these two things @gregbacchus was interested in (since the example he shared coupled both concepts).  @gregbacchus Any more details on what you were looking for here?

That said, to the extent that there are places where there are enums defined in the OpenAPI spec, it would be nice to project

[2018-12-14 18:04] gregbacchus commented on #315
I was just interested in the stronger typing. Whether or not that has follow on uses, is probably another discussion.

[2018-12-14 21:47] lukehoban opened #321 "Add a CHANGELOG"
Let's add a CHANGLEOG and make sure it includes recent changes, including importantly recent breaking changes like the one that caused https://github.com/pulumi/examples/issues/193.  We should not do releases without having an up-to-date CHANGELOG for the release.

[2018-12-18 02:17] joeduffy commented on #315
This seems like a good thing to do, and not a ton of work given the improvement to typing.

[2018-12-18 02:23] #18 closed, assigned to nobody

[2018-12-18 18:49] hausdorff commented on #91
@joeduffy @lukehoban I'm not opposed to this approach but since we've gone through ~3 iterations of what a solution to this issue should look like, I'd like to propose that we sit down and make sure the plan of record is at least directionally approaching the final plan for this issue. :)

[2018-12-18 19:34] #300 closed

[2018-12-18 19:41] hausdorff commented on #316
@mrbrownt Thanks for your patience -- last week was KubeCon and therefore very busy for us.

This is pretty easy to fix, it's just an oversight. I'll try to get something out shortly.

[2018-12-18 20:39] hausdorff commented on #308
Revisiting this, I don't think we're going to be able to get around the timeout issue, but we could potentially at least use `LogStatus` to explain that we're waiting for a response from the server and the connection might not be so great.

[2018-12-18 20:41] hausdorff commented on #254
Per https://github.com/pulumi/pulumi/issues/2240 we've agreed to tentatively do nothing until we get more customer feedback that justifies discussion.

[2018-12-18 20:42] hausdorff commented on #254
Per https://github.com/pulumi/pulumi/issues/2240 we've agreed to tentatively do nothing until we get more customer feedback that justifies discussion.

[2018-12-18 20:52] #254 closed

[2018-12-18 21:05] hausdorff commented on #184
Let's move this issue to #179.

[2018-12-18 21:05] #184 closed

[2018-12-18 21:07] hausdorff commented on #179
I'm closing #184 in favor of this issue. Quoting from that OP:

[2018-12-18 21:16] hausdorff commented on #42
After consideration, I think we should probably close this issue out for now. We can reconsider later as we get more feedback. For now I (personally) don't see a use case that's worth the complexity.

[2018-12-18 21:39] hausdorff commented on #205
I'm bumping this out to 0.21, but we should actually decide as a team what we're going to do here. The issue is:

* This does create a bad experience for our users, as this causes password secrets to be re-generated every time.
* It does not appear we can work around this, because there is no way to statically determine whether a call to `random` should be wrapped in `.Release.IsInstall`.
* This i

[2018-12-18 22:05] hausdorff commented on #161
We're booting this out to M22 because I think it is worth waiting until we're done with the AWS-infra work. I am hoping once that lands, it will be clear how to move forward and we can finally close the issue instead of booting out again.

[2018-12-18 22:06] hausdorff commented on #147
It is not super clear to me how we will actually do this. I'm assigning to @lblackstone for now, but we should discuss.

[2018-12-18 22:07] hausdorff commented on #315
It's not a ton of work, but Levi is out pretty much until M21, so I'm not sure this will make it.

[2018-12-18 22:07] hausdorff commented on #317
Taking over while Levi is out, this should be pretty easy to get merged in over the next few days.

[2018-12-18 22:08] hausdorff commented on #316
Taking this over, since Levi is basically out until M21.

[2018-12-18 22:08] hausdorff commented on #150
Taking this over because Levi is basically out until M21. Should not be a huge amount of work.

[2018-12-18 22:12] lukehoban commented on #315
@hausdorff Is there strongly typed enum data in the OpenAPI specs that we could use for this?  Or is this about manual annotation?

[2018-12-18 22:40] hausdorff commented on #91
Ok, per separate conversations with @joeduffy and @lukehoban we're going to push this out and concentrate on the Kubernetes the Prod Way workstream.

[2018-12-18 22:41] hausdorff commented on #315
@lukehoban Yes, there is, this is already auto-populated in the constructor, we just need to expose it in the typing information too.

[2018-12-19 00:08] #321 closed

[2018-12-19 19:51] protometa commented on #248
I'm still having this issue with the latest Pulumi. [The headless service still does have a pod selector](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components). I don't think this case was addressed in the merge.

[2018-12-19 21:18] hausdorff opened #323 "apiextensions.CustomResource#get is missing"

[2018-12-20 00:43] #316 closed

[2018-12-20 03:11] hausdorff opened #325 "Add k8s.yaml.* support to Python SDK"

[2018-12-20 03:26] hausdorff opened #326 "CustomResource in Python is missing"
Kubernetes provides the ability to extend the core API in a way that looks native. Users do this by defining `CustomResourceDefinitions`.

In the nodejs API, we allow users to define instances of CRDs using the class `apiextensions.CustomResource`. This is currently unimplemented in Python, and there are several subtleties:

* Python uses `snake_case`. Most CRDs use Go, which means they expect `SC

[2018-12-20 03:31] hausdorff commented on #326
First cut is here: https://github.com/pulumi/pulumi-kubernetes/pull/327

Not entirely sure this is the right direction though.

[2018-12-24 13:45] dragosbulugean commented on #317
If it helps, same thing happens with
```"kubernetes.io/ingress.class": "nginx"```

[2018-12-27 08:53] krmayankk commented on #93
What is pulumi-kubernetes, from an initial thinking is it K8s api implemented by your own cloud in the way you seem fit ?

[2018-12-28 01:57] hausdorff commented on #93
@krmayankk The appropriate venue to discuss that question is probably the [community slack](https://slack.pulumi.io/) or another issue with the label "question". If you'd like to follow up, please do so in one of those places.

But, because I can't resist answering questions, I'll provide a brief answer here. :) pulumi-kubernetes is the code that allows Pulumi to manage Kubernetes resources on an

[2018-12-28 03:05] #323 closed

[2018-12-28 19:29] hausdorff opened #330 "Replace logic on `Job` is incorrect"
_cf_.

[code]

[2019-01-03 18:56] hausdorff commented on #314
Did we accidentally rm the priority? I'm going to go ahead and mark as P1 based on joe's feedback?

[2019-01-03 19:32] #150 closed

[2019-01-03 19:39] hausdorff opened #332 "Allow external contributors"
For security reasons Travis does not expose secrets to PRs from orgs and accounts that are not `pulumi-kubernetes`. This means that CI will fail for all external PRs, _cf_., #331. We should simply disable integration tests for external PRs.

[2019-01-03 22:18] #330 closed

[2019-01-04 06:07] hausdorff commented on #317
@dragosbulugean Sorry, I'm not sure I understand. This issue should arise regardless of the annotation, as long as the `Ingress` points at a `v1/Service` whose type is `ExternalName`, right? Is there something special about the annotation that you believe is causing us to handle that case incorrectly?

If so, please open another issue -- this one is about to close.

[2019-01-04 06:16] #317 closed

[2019-01-04 06:16] hausdorff opened #334 "Follow up on review feedback form #320"
We merged #320, originally started by @lblackstone, after review and a handful of small revisions. We chose to do this because Levi is not available for an extended period of time, and we want to turn these sorts of bugs around relatively quickly.

We should go back and double-check that these changes are reasonable.

[2019-01-04 18:10] hausdorff opened #335 "`RoleBinding` replacement semantics are incorrect"
_cf._,

[code]

[2019-01-04 18:36] lukehoban opened #336 "Publish/export kubernetes types to allow passing configuration fragments to Kubernetes pulumi resources"
@pbzdyl commented on [Fri Jan 04 2019](https://github.com/pulumi/pulumi/issues/2334)

Currently no types/interfaces are exported from `kubernetes.core.v1` namespace like `ContainerPort`, `EnvVar` etc. Without these types available it's very cumbersome to create `ComponentResource`s that assemble multiple Kubernetes resources but would like to allow customisation of these resources e.g. by passing

[2019-01-07 04:11] hausdorff commented on #336
This actually is possible. You'd do something like:

[code]

This is the "input shape", reflecting the fields that are required at submission time. There is also an "output shape", which better reflects the fields that will be populated at output time. It's at `"@pulumi/kubernetes/types/input"`.

Let's close this for now and open again if we're still missing something.

[2019-01-07 17:12] joeduffy commented on #336
For what it's worth, I've found this quite confusing in my interactions with the Kubernetes provider. This confusion stems from two things: 1) the modules aren't discoverable (you need to know about the "magical import" of `.../types/...`), and 2) it doesn't match the patterns we use elsewhere.

Is there something different we should be doing here? Should we reopen this and discuss?

[2019-01-07 17:15] hausdorff commented on #336
@joeduffy yeah, let's reopen and discuss

[2019-01-07 17:40] hausdorff opened #342 "Add immutable fields to Kubernetes OpenAPI spec"
Following up from [this comment](https://github.com/pulumi/pulumi-kubernetes/pull/337#issuecomment-452012426), some fields in Kubernetes resource definitions are immutable (_e.g._, `Deployment`'s `.spec.selector`), and changing them necessitates a replacement.

We are currently manually curating a list of these things, which once correct, will be very powerful. But a better idea is to engage SIGCL

[2019-01-07 21:57] hausdorff opened #343 "Simplify complex awaiter code"
When we started doing "complex" awaiters (which, _e.g._, display intermediate messages as resources come online), we didn't really know what it would exactly look like. The code is accordingly more complex than it could be, with a lot of similar logic distributed across important resources.

Now that we know roughly what these features involve, @lblackstone proposes that we factor them into a comm

[2019-01-07 22:02] lblackstone commented on #334
LGTM

[2019-01-07 22:02] #334 closed

[2019-01-07 22:34] lblackstone opened #344 "Upgrade to client-go 10"
We haven't upgraded our dependency in awhile, and recent versions include useful improvements to the dynamic client.

The new client features will be important to planned refactoring efforts.

[2019-01-07 23:03] #332 closed

[2019-01-08 00:47] hausdorff opened #345 "[KtPW] Bring Azure and AWS examples to parity with GCP"
GCP currently has distinct stacks for identity and managed infrastructure. AWS and Azure need roughly the same breakdown.

[2019-01-08 00:50] hausdorff opened #346 "[KtPW] Add "k8s systems components" to managed k8s offerings"
There is a set of systems components that are considered industry standard in Kubernetes clusters. We should change the KtPW examples to have tunable, prod-first deployments of these things.

[2019-01-08 00:51] hausdorff opened #347 "[KtPW] Add Travis CI integration"
KtPW has a bunch of scripts that make it easy to integrate with CI systems, but no specific guidance on how to accomplish this.

[2019-01-08 00:54] lukehoban commented on #347
Should we move this and other `KtPW` issues over to https://github.com/pulumi/kubernetes-the-prod-way?

[2019-01-08 01:01] hausdorff commented on #347
@lukehoban Joe specifically told me to put them here.

[2019-01-08 13:57] pbzdyl commented on #248
I'm also having this issue. I think for headless StatefulSet service Pulumi shouldn't wait for any pods even if the service spec includes selector.

[2019-01-08 17:07] hausdorff commented on #248
THis seems to have been closed erroneously... I must have searched for issues with "headless" in them and selected this instead of a headless service issue. We'll fix soon.

[2019-01-08 21:41] lblackstone commented on #248
If I understand the problem correctly, I believe this issue is fixed in master already by https://github.com/pulumi/pulumi-kubernetes/pull/307

Prior to that change, the await logic didn't handle StatefulSet, so Pulumi would show it as ready as soon as it was created.

I took another look at the Service awaiter code, and it seems to be valid according to the current semantics; as you noted, the Se

[2019-01-09 03:00] hausdorff commented on #281
@lblackstone I'm assuming this will happen alongside #344? (I'll proactively put in M20 just ot make sure we don't lose it.)

[2019-01-09 03:03] hausdorff commented on #248
@lblackstone sounds like we should close the issue and let @protometa and @pbzdyl re-open if it persists?

[2019-01-09 19:39] swgillespie opened #349 "Previews against inaccessible clusters hang for 30 seconds and then succeed"
I encountered this when trying to run an update against a cluster that doesn't exist anymore. What seemed to happen is that any resource that I created during the preview timed out after 30 seconds and then succeeded:

[code]

This is a little confusing - I would have expected the preview to fail if the cluster is not responding to network requests.

[2019-01-09 21:15] swgillespie commented on #349
Here's my setup, for additional context:

1. I used a first-class provider to reference a cluster that doesn't exist
2. I created a pod using that first-class provider
3. I did a preview

When performing the preview, the first-class provider creates successfully, and the pod also creates successfully after a 30 second delay. The preview outputs that there are two resources to create and completes

[2019-01-09 21:16] hausdorff commented on #349
That certainly _sounds_ like a bug. @lblackstone I tentatively assigned this to you since you're refactoring this and I don't want to interfere... lmk if this doesn't fit and we can load balance it back to me.

[2019-01-14 10:31] pbzdyl commented on #248
@hausdorff I would like to test but has the fix been released? I updated all npm packages and the issue is still there.

[2019-01-14 19:06] hausdorff commented on #248
@pbzdyl we're releasing today, I had hoped to have you try a dev release, though. Either way, though.

[2019-01-14 20:23] pbzdyl commented on #248
@hausdorff I can try a dev release but I would need some guidance how to do it :)

[2019-01-14 22:36] lukehoban commented on #346
Let's track this in M21.

[2019-01-14 22:43] hausdorff commented on #248
@pbzdyl you can just put `"@pulumi/kubernetes": "dev"` as the version in `package.json`

[2019-01-14 23:02] hausdorff commented on #70
@naveensrinivasan It's definitely on the horizon, but it's not clear how we're going to provide a really good experience for Kubernetes specifically, at least before Go 2 -- the deeply-nested nature of the API means there ends up being a lot of `interface{}`. Hence, we've marked it as "help wanted".

My personal view is that it's better to wait until we can provide a good experience, than to provi

[2019-01-15 01:51] hausdorff opened #352 "Implement `preview` using API server dry (run when available)"
See blog post here: https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/

Note that this also includes possibly replacing our `diff` functionality with the server-side diff.

[2019-01-15 09:07] pbzdyl commented on #248
@hausdorff I tested and it seems it still doesn't work. I have changed the version to `dev` as you suggested, removed `npm_modules` and `package-lock.json`:

[code]

Headless service:
[code]

Pods:
[code]

I can provide more information if needed.

[2019-01-15 22:07] lblackstone commented on #248
@pbzdyl Sorry for the delay. I just released [v0.19.0](https://www.npmjs.com/package/@pulumi/kubernetes/v/0.19.0)

Can you give it one more shot with that release, and then I'll follow up if you're still having problems?

[2019-01-16 09:46] pbzdyl commented on #248
@lblackstone I have just tested `v0.19.0` and I got the same issue and output as in my previous comment.

[2019-01-16 10:14] pbzdyl commented on #248
Let me also add `.status` info for the impacted `StatefulSet` and its pod:

`StatefulSet.status`:
[code]

`Pod.status`:
[code]

[2019-01-16 16:15] lblackstone commented on #248
@pbzdyl What labels do you have set for the StatefulSet/Pod? Your Service is selecting for `app=example,deployment=example`, so I would expect that to match.

All of the following should be identical:
1. Service `.spec.selector.<label>`
2. StatefulSet `.spec.selector.matchLabels.<label>`
3. StatefulSet `.spec.template.metadata.labels.<label>`

[2019-01-16 17:08] pbzdyl commented on #248
@lblackstone here it is:

StatefulSet `.spec.selector.matchLabels` = `{ app: example, deployment: example }`
StatefulSet `.spec.template.metadata.labels` = `{ app: example, deployment: example }`
Service `.spec.selector` = `{ app: example, deployment: example }`

Also:
[code]
which shows that all the metadata and selectors are configured correctly.

[2019-01-16 17:10] lblackstone commented on #248
@pbzdyl Alright, just wanted to confirm. I'll take another look at the provider code today.

[2019-01-16 17:11] pbzdyl commented on #248
I will be happy to provide any other information you might need to troubleshoot this issue.

[2019-01-17 00:00] lblackstone commented on #336
I won't get to this in M20. Bumping to M21.

[2019-01-17 00:03] lblackstone commented on #349
@hausdorff I won't get to this in M20. We can punt, or you can take it if you have extra bandwidth.

[2019-01-17 00:05] lblackstone commented on #93
Job is the only remaining Kind to implement for this issue. Punting until after #343 is complete.

[2019-01-17 00:11] lblackstone commented on #199
I won't get to this in M20. Punting to M21.

[2019-01-17 00:48] hausdorff opened #353 "Consider using UID for resource ID instead of `[namespace/]<name>`"
_cf._, https://github.com/pulumi/pulumi-kubernetes/pull/319#discussion_r248485183

[2019-01-17 00:50] metral opened #354 "Track all embedded API objects, and programmatically form progress messages as resources become ready"
ref: https://github.com/pulumi/pulumi-kubernetes/pull/319#discussion_r248484878

[2019-01-17 02:05] hausdorff commented on #354
In the case of the comment above, I think the matter is somewhat straightforward? `Deployment` has two stages: (1) waiting for `ReplicaSet` to roll out, and (2) complete. If a PV/PVC is not bound, I believe none of the `Pod`s will boot at all. So we can make PVC binding step 1, and bump everything else down by one step, right?

[2019-01-17 02:05] hausdorff commented on #354
cc @lblackstone

[2019-01-17 02:21] metral commented on #354
This logic works in the usecase of a PVC in a Deployment. But if we depend on other resources like ConfigMaps, Secrets etc in addition to PVCs, this increases the queue of objects to wait on, and should alter the progress updates accordingly. We should keep this in mind during the refactor as this logic can be applied to other composable objects in k8s

[2019-01-17 20:32] lblackstone commented on #248
@pbzdyl I haven't been able to reproduce this behavior. I'm able to create a StatefulSet + headless Service on GKE like this:

**Pulumi snippet**
[code]
**StatefulSet info**
[code]

**Service info**
[code]

The main difference I noticed from the output you provided is that your service doesn't include any Endpoints; not sure if you omitted that, or if they are missing. The await logic is based on

[2019-01-18 17:31] lblackstone commented on #248
@pbzdyl Can you also verify that your StatefulSet's `.spec.serviceName`matches the Service `.metadata.name`?

I still don't think we're on the same page. A headless Service will not have an external IP, but my understanding is that it should still have Endpoint(s) that point to the internal Pod IPs from your StatefulSet.

It would be really helpful to see the pulumi snippets that you're using to c

[2019-01-18 17:46] metral opened #356 "Deployment objects which do not reference any PVCs in its namespace are failing to create, if those PVCs are stuck trying to bind to a PV"
As of https://github.com/pulumi/pulumi-kubernetes/pull/319, Deployment objects can now wait on PVCs, but there's a bug as *any* Deployment is subjected to waiting on ANY PVC event encountered in its namespace, regardless of whether it had a claim for any given PVC or not. This causes Deployments to fail during creation if there's a PVC in the namespace that is not in the 'Bound' phase.

Instead, w

[2019-01-19 00:45] hausdorff opened #359 "Make request exponential backoff more predictable"
Since #348 request retry logic is specified in multiple places. This can make retry logic much less predictable -- it is vastly easier to predict behavior when retry logic is specified in one place.

Before the next release, we should try to consolidate this into one place. Context: https://github.com/pulumi/pulumi-kubernetes/pull/348#discussion_r249188416

[2019-01-19 00:48] hausdorff opened #360 "Double check errors API in client-go 10"
During the client-go v10 upgrade (#348) we realized that the error types returned in various places have changed. _e.g._, it seems that when a CRD is not found, it no longer returns a 404, and instead returns a new error.

This is scary, and we should audit the error handling to make sure we're not missing something. Context: https://github.com/pulumi/pulumi-kubernetes/pull/348#discussion_r2491887

[2019-01-19 12:15] pbzdyl commented on #248
Hi @lblackstone. Let me include all the info I have:

`statefulApp.ts`:
[code]

Used in `index.ts` like that:
[code]

[code]

[code]

[code]

[code]

Dependencies:
[code]

[2019-01-19 20:39] pbzdyl commented on #248
I think this might be caused by a bug in Kubernetes API <1.12 and it was [fixed in 1.12](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#changelog-since-v1120-alpha1) by [this PR](https://github.com/kubernetes/kubernetes/pull/67622).

I guess it will take a while until Kubernetes 1.12 is available in GKE so it would be very helpful to have the awaiter logic changed for Kuber

[2019-01-22 16:46] lblackstone commented on #248
@pbzdyl Interesting! Thanks for the updated info. I'll take another look today.

[2019-01-22 18:16] lukehoban commented on #91
We're going to move the existing docs into the https://github.com/pulumi/kubernetes-the-prod-way repo where we can iterate on them.  I've opened https://github.com/pulumi/kubernetes-the-prod-way/issues/14.

We'll add additional docs site content and/or www.pulumi.com content in the near future once this is more fully fleshed out.

Closing this out for now to track concrete near term plan in the is

[2019-01-22 18:16] #91 closed

[2019-01-22 23:28] lblackstone opened #364 "Regression: Resources can get into a bad state if resource client init fails"
Following #348, I ran into a bug where the provider failed to get clients with the following errors:
[code]

After this failure, I tried running `pulumi up` again, but got an error because the resource had actually created successfully, but not registered that status with the engine:
[code]

Also, a `pulumi refresh` did not correct the state mismatch.

[2019-01-23 00:11] lblackstone opened #365 "CI tests are not guaranteed to clean up created resources"
Bugs in the provider code can currently orphan k8s resources on the CI cluster, and then cause failures on subsequent CI runs. We should make sure that test resources are cleaned up at the end of the run, even if the provider did not clean them up properly.

[2019-01-23 22:43] hausdorff commented on #248
@pbzdyl I just wanted to say, thank you so much for being so persistent! If you'd like a shirt or a beany, let me know and I'll send it your way. Drop me a line @ alex@pulumi.com

[2019-01-23 22:59] lblackstone opened #369 "Ingress awaiter error message is confusing for empty path rules"
From https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/#httpingresspath-v1beta1-extensions, an empty path defaults to routing traffic ~to the default backend~ to the Service specified in the rule. ~This special case needs to be handled by the awaiter logic.~

Clarify the related error message to make the expectation clear.

[2019-01-24 18:34] hausdorff opened #370 "Support Kustomize"
Kustomize has merged into mainline. We are going to need to ship some sort of support of it for the next version of Kubernetes.

[2019-01-24 20:17] hausdorff opened #372 "Add support for Node 6"
We depend on `got` which does not work before Node 8. Yet we advertise we support Node 6. We should also make sure tests reflect this.

[2019-01-24 20:54] lukehoban opened #373 "API docs issues"
There is no `helm` module at https://pulumi.io/reference/pkg/nodejs/@pulumi/kubernetes/index.html, seems we show `v2` there (which should be a submodule of `helm`)?

There are no/few docs on https://pulumi.io/reference/pkg/nodejs/@pulumi/kubernetes/v2/, apparently because we use `//` comments instead of `/** **/` JS doc comments.

[2019-01-24 22:44] lblackstone opened #374 "Add unit test coverage for pkg/provider"
pkg/provider could use some more test coverage for things like cancelled/errored awaiters checkpointing state properly.

[2019-01-24 22:47] #359 closed

[2019-01-24 22:52] lblackstone opened #375 "CI tests cannot be run in parallel"
CI tests are currently running on the same k8s cluster, and resources are not namespaced. This can cause errors if more than one CI job is running concurrently.

Tests to update
- [x] autonaming
- [x] delete before replace
- [x] get
- [x] retry
- [x] yaml-url
- [x] apache
- [x] guestbook
- [x] helm
- [x] helm-local
- [x] mariadb
- [x] minimal
- [x] python-guestbook
- [x] python-provider
- [x] pyth

[2019-01-24 23:03] #245 closed

[2019-01-25 21:33] #248 closed

[2019-01-25 22:04] lblackstone commented on #248
@pbzdyl You should be able to test out this fix in the latest dev release.(`@pulumi/kubernetes@0.19.1-dev.1548452037`)

[2019-01-28 20:58] lblackstone commented on #360
I took another look at the refactored code, and the only difference I found was here: https://github.com/pulumi/pulumi-kubernetes/blob/fb8073fbd2887cfc2f0288ebd21fe54bfcff1e9f/pkg/await/await.go#L97-L123

It appears that the difference is due to the caching layer [1] in the dynamic client, but I believe it is correct, and doesn't alter the semantics.

[1] As part of #348, the downstream cached cli

[2019-01-28 20:58] #360 closed

[2019-01-28 22:31] lblackstone commented on #369
I just realized that the main source of confusion was that this information was being incorrectly logged at the `Error` level rather than `Info` level. This meant that error messages would be printed erroneously. Fixed that as well in the related PR.

[2019-01-29 16:04] lblackstone opened #377 "Support k8s 1.14 on release"
k8s 1.14 is tentatively scheduled for release on [March 25, 2019](https://github.com/kubernetes/sig-release/tree/master/releases/release-1.14). The provider should support 1.14 as soon as it's released.

[2019-01-29 18:34] metral opened #379 "Pulumi can't track resources created at runtime by k8s controllers and/or apps that it doesn't know about"
By definition, pulumi can't track a resource that it doesn't know about at deployment time.

For example: If pulumi creates a nginx-ingress-controller, at runtime nginx creates a new ConfigMap resource in k8s (that pulumi doesn't know about) to store its leader election data when operating in HA mode. If at some time later the nginx-ingress-controller is deleted, the ConfigMap would be left behind

[2019-01-29 19:28] metral opened #382 "Any resources that creates Pods should probe the containers after status is `Ready` to guarantee containers are successfully up"
Any resource that creates a Pod (e.g. Deployments, RS, RC, Pods) should probe for success of all of the Pod's containers after deployment and at runtime, in addition to only waiting for the Pod to have its status be in `Ready` state.

As of now, if a container enters a `CrashbackLoop` after the Pod has been created, Pulumi thinks the Pod creation was successful, when in reality it isn't and should

[2019-01-29 19:42] metral opened #383 "Pulumi can't adhere to `pod.spec.containers.imagePullPolicy` when it is set to "AlwaysPull," as no spec changes occur on future updates w/ `pulumi up`"
For pods with `imagePolicy: AlwaysPull` set in their container's spec,  Pulumi will not detect any changes after the initial deployment. On a future update, because the spec does not change, Pulumi does not force the kubelet to do a rolling update, as the the node does not force pull down the image and invalidate its Docker image cache of the given container tag.

This can be an issue during dev i

[2019-01-29 21:09] #369 closed

[2019-01-30 16:32] lblackstone commented on #181
@hausdorff Is this still relevant? If so, can you add some more details?

[2019-01-30 20:57] lblackstone commented on #217
As a workaround for now, you should be able to use a transformation to update the namespace.

[code]

[2019-01-30 21:10] hausdorff commented on #370
Just a PS, we closed this because kustomize is no longer part of the official Kubernetes application definition. In the event that it gets re-merged, we will probably re-open this and reconsider.

[2019-01-30 21:19] hausdorff commented on #365
Talking a bit offline with @lblackstone, I think the exit criteria here are:

- [ ] Integration tests should continue to run in a CI cluster so that we continue to expose issues like failure to clean up resources
- [ ] Integration tests should fail if, after the run finishes, there are leftover resources.

This probably won't fit into M21 because k8s has weird background delete semantics. Might be

[2019-01-30 21:35] hausdorff commented on #360
Just for future Alex's sake: I think Levi is saying that the error API actually didn't change -- we changed the APIs we use, which have different error APIs.

[2019-01-30 21:39] hausdorff commented on #379
So concretely, we might add facilities to automatically `.get` a set of resources that depend on a given resource. For example we could automatically `.get` all the `Pod`s created by a `ReplicaSet`.

I'm not opposed to it, but for stuff like `Pod` the turnover is super, super high and may generate a lot of churn.

[2019-01-30 21:43] hausdorff commented on #382
I believe `Ready` already reflects the state of the probes. The issue you are talking about, I think, is that there is a very brief period of time where a pod can become ready, and then crash immediately. Pulumi, thinking it is ready, happily reports success even though the `Pod` has crashed.

I think the the "real" solution is to add actual probes to `Pod` definitions, but a good compromise might

[2019-01-30 21:56] hausdorff commented on #383
Ok, so for example: if you say `latest` and have the container set to always pull, pulumi will actually never do an update because even though `latest` has changed, the spec has not.

This is a really important point that I'm not sure what to do about yet. Our Docker package resolves image tags like `latest` to SHAs at deployment time, so that if the underlying image has changed, you get a rollout

[2019-01-30 22:06] lblackstone commented on #382
I think the grace period suggestion sounds promising, or perhaps we could detect this though the Event stream?

[2019-01-30 22:22] hausdorff commented on #382
That is an interesting idea, do you have a clear picture of how that would work?

[2019-01-30 22:55] lblackstone commented on #382
I'd need to think about it some more, but my initial thought was that we could observe the event stream for any objects we care about, and set status back to error if we detect a failure after Ready. However, I'm not sure that would play nicely with the Pulumi engine.

This is an area where k8s complicates things compared to typical cloud provider resources: since k8s always has controllers changi

[2019-01-30 23:49] hausdorff commented on #382
In general I think it's super important to expose the information in `Event`s, but I think most of the cases where we'd want to do this are similar to the PV case -- _i.e._, PVs not binding will cause the `Pod`s to simply not even start. So you have to recover this from `Event`.

[2019-01-31 17:24] metral commented on #383
To elaborate: the core of this issue is that when `AlwaysPull` is set, this is an implicit action that only takes place in k8s when the existing Pod has stopped, or crashed, and restarted; at which point, the kubelet will force a pull down of the image. If this were to happen, Pulumi has no context of this change as it happens outside of Pulumi's control, in k8s only.

Pulumi acts on spec changes,

[2019-02-01 16:55] lblackstone commented on #179
We're planning to add an optional toggle to disable await logic. This is intended to be an "escape hatch" in case of bugs and unhandled edge cases.

[2019-02-01 17:02] #258 closed

[2019-02-01 19:27] lblackstone opened #391 "Add test for Node 6 compatibility"
Splitting out the test portion from #372

We should add test coverage to verify that the provider supports Node 6.

[2019-02-01 19:52] #372 closed

[2019-02-02 01:53] lukehoban commented on #373
I think the problem is actually all the uses of `//`. Those docs aren’t picket up by the doc generator.

Re: the overloads - I’m not sure whether that prevents generating useful IDE and/ doc content - but if it does I’d argue we should generate as many comments as needed.

[2019-02-02 04:37] lukehoban opened #393 "Docs are missing all resources"
None of the actual resource classes are included in the API docs at, e.g. https://pulumi.io/reference/pkg/nodejs/@pulumi/kubernetes/apps/v1/.

Since the dominant thing that users use are `new Resource`, this appears to mean that almost none of what users interact with is included in the documentation.

Further, what is included are raw interfaces without `Input`/`Output` included - which are not w

[2019-02-02 04:46] lukehoban opened #394 "Input should be deeply nested inside arrays"
In the other providers, we deeply nest `Input<T>` through arrays, such as:

[code]

In the Kubernetes provider, we apparently do not, such as:

[code]

This leads to code like this not working as written (and requiring `all`), while it should not.

[code]

[2019-02-04 16:14] #394 closed

[2019-02-04 17:51] lblackstone commented on #393
From what I can see, these docs are being generated and included in the TS package, but the `tscdocgen` tool is expecting them to be in the same layout as the tf-generated packages.
https://github.com/pulumi/pulumi-kubernetes/blob/08eb3b9307fb63fcf32d275e61653271bbbc498e/sdk/nodejs/provider.ts#L4058-L4140

@hausdorff Would it break anything horribly to generate the types in the expected format? Sp

[2019-02-04 19:43] lukehoban commented on #393
Note that the problem here may well be in our `tsdocgen` utility in the docs repo.  Or in some interaction between the API style here and that understood by that tool.  If there’s a simple fix on the docgen side without requiring changes here we should look into that as wel.

[2019-02-04 20:04] joeduffy commented on #393
I'm fairly certain that's the problem. `tsdocgen` is highly customized to make our packages look good in the emitted docs. This was the way we eliminated the problems with our prior TypeScript docs solution (I forget its name), which emitted tons of modules; we instead flatten them.

For example, `aws/s3` is a module that exports all `Bucket`, etc related types. In reality, it should also show tha

[2019-02-04 21:57] lblackstone commented on #373
Helm is showing up as `v2` in the API docs because the resources live in the `v2` namespace, which is then imported under the `helm` namespace in the kubernetes-provider: https://github.com/pulumi/pulumi-kubernetes/blob/08eb3b9307fb63fcf32d275e61653271bbbc498e/sdk/nodejs/index.ts#L2-L3

I think the preferred solution would be to move Helm resources to a separate package (https://github.com/pulumi/

[2019-02-04 23:19] lblackstone opened #398 "Transient memcache messages being reported by the CLI"
After #348, the kubernetes-provider is printing info messages from the cached discovery client for some transient failures. For example:
[code]

These messages are not actionable and the underlying error should be automatically resolved by the retry logic, so we need to figure out a way to disable them. It appears that the underlying library is bypassing the CLI's logger, and writing directly to s

[2019-02-05 00:35] geekflyer opened #400 "Update to namespace resource fails with: "the namespace of the object (default) does not match the namespace on the request (foo)""
Hi,

found a very strange bug in newer pulumi versions (I'm not 100% sure, but I believe this used to work in earlier pulumi versions). This bug prevents any updates / patch operations to namespace objects when using them in conjunction with a first class provider. Small noteworthy detail: When instantiating the provider itself I'm explicitly setting the optional `namespace` property on it.

Here

[2019-02-05 00:50] hausdorff commented on #400
Thanks for the report! This error is basicaIIy saying that the REST request path (which contains the namespace, like `/apis/batch/v1beta1/namespaces/{namespace}/cronjobs/{name}`) and the REST request body have different namespaces.

Wild guess: IIRC client-go requires us to specify both a resource type and a namespace type, and when the namespace changes, the path and the request conflict. Hence t

[2019-02-05 19:45] lblackstone commented on #375
Apparently missed some further tests in the examples directory with the same problem.

[2019-02-05 21:45] lblackstone opened #404 "Add tslint.json and enforce in CI"
We need to add a `tslint.json` and enforce formatting in CI to avoid further issues with different editor formatting.

[2019-02-06 22:15] #400 closed

[2019-02-06 22:21] lblackstone commented on #400
Working on cutting a bugfix release now (0.20.1). It should be out by EOD today.

[2019-02-06 22:38] lblackstone opened #408 "Ingress await logic doesn't handle ssl-redirect case for aws-alb-ingress-controller"
https://kubernetes-sigs.github.io/aws-alb-ingress-controller/guide/tasks/ssl_redirect/

[code]
produces an error similar to
[code]

Reported at: https://pulumi-community.slack.com/archives/C84L4E3N1/p1549491112121100

[2019-02-06 22:40] lblackstone commented on #408
This could be mitigated by completing #179

[2019-02-06 23:46] lblackstone opened #409 "Resource IDs are incorrect for computed namespaced resources"
Namespaced resources are showing up incorrectly in the CLI output:
[code]

This is due to https://github.com/pulumi/pulumi-kubernetes/blob/b3bffb6e84467eccae64fdca8437ca98cb004eaf/sdk/nodejs/provider.ts#L2196-L2201

I tried fixing the problem with
[code]
but the following constructors are all expecting `name: string`. Changing that type would require updating the `pulumi/pulumi` SDK as well, which

[2019-02-06 23:48] hausdorff commented on #409
More specifically, for _computed_ namespace names. For most people this should still work.

[2019-02-07 17:54] lblackstone commented on #375
I'm having difficulty applying a namespace to the helm examples. Two problems:
1. The configuration is expecting resources to be in the "default" namespace. We could use a different chart, or there may be a chart value that would fix it.
2. The `getResourceProperty` function does not accept `Input<string>` for the namespace. I couldn't figure out a way to to create a random namespace and then use

[2019-02-07 18:10] lblackstone commented on #179
@hausdorff I took a look at the provider code, and I think there are two decent options for implementing the await logic toggle for a particular resource. (I don't think disabling awaiters completely is a good idea).

1. Update the SDK with an optional flag on all resource classes to disable await logic for that resource
2. Check for a specified annotation on the k8s resource, and disable await lo